{{$csrf_key := "__csrf_token"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>New file for snippet {{.BelongingUser}}:{{.Name}} :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
	<link rel="stylesheet" href="/static/style-snippet.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  <div class="snippet-info">
		<h1 class="snippet-name">
		  <span style="font-size: 2rem;line-height:100%">New File For Snippet</span> <br />
		<a href="/u/{{.BelongingUser}}/snippet">{{.BelongingUser}}</a>:<a href="/snippet/{{.BelongingUser}}/{{.Name}}">{{.Name}}</a>
		</h1>
		<div class="snippet-nav">
		  {{if and .LoginInfo (eq .BelongingUser .LoginInfo.UserName)}}
		<a href="/snippet/{{.BelongingUser}}/{{.Name}}/setting">Setting</a>
		{{end}}
		</div>
	  </div>
	</header>


	<hr />

	<fieldset>
	  <legend>New File</legend>
	  <form method="POST" class="snippet-setting">
		<input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
		<table class="field-table">
		  <tbody>
			<tr class="field">
			  <td><label class="field-label" for="tf-filename">File Name:</label></td>
			  <td><input name="filename" id="tf-filename" /></td>
			</tr>
			<tr class="field">
			  <td><label class="field-label" for="ta-content">Content:</label></td>
			  <td><textarea name="content" id="ta-content"></textarea></td>
			</tr>
			<tr class="field">
			  <td></td>
			  <td><input type="submit" value="Save" /></td>
			</tr>
		  </tbody>
		</table>
	  </form>
	</fieldset>
	
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

