{{$csrf_key := "__csrf_token"}}
{{$snippet := .Snippet}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Snippet settings for {{.Snippet.BelongingUser}}:{{.Snippet.Name}} :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
	<link rel="stylesheet" href="/static/style-snippet.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  <div class="snippet-info">
		<h1 class="snippet-name">
		  <span style="font-size: 2rem;line-height:100%">Snippet Settings</span> <br />
		<a href="/u/{{.Snippet.BelongingUser}}/snippet">{{.Snippet.BelongingUser}}</a>:<a href="/snippet/{{.Snippet.BelongingUser}}/{{.Snippet.Name}}">{{.Snippet.Name}}</a>
		</h1>
		<div class="snippet-nav">
		  {{if and .LoginInfo (eq .Snippet.BelongingUser .LoginInfo.UserName)}}
		<a href="/snippet/{{.Snippet.BelongingUser}}/{{.Snippet.Name}}/setting">Setting</a>
		{{end}}
		</div>
	  </div>
	</header>


	<hr />

	<fieldset>
	  <legend>Snippet Info</legend>
	  <form method="POST" action="" id="snippet-setting-form">
		<input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
		<table class="field-table">
		  <tbody>
			<tr class="field">
			  <td><label class="field-label" for="s-status">Visibility:</label></td>
			  <td><select id="s-status" name="status">
				  <option value="1" {{if eq .Snippet.Status 1}}selected{{end}}>Public</option>
				  <option value="2" {{if eq .Snippet.Status 2}}selected{{end}}>Internal</option>
				  <option value="3" {{if eq .Snippet.Status 3}}selected{{end}}>Shared-Only (Link)</option>
				  <option value="6" {{if eq .Snippet.Status 6}}selected{{end}}>Internal Shared-Only (Link)</option>
				  <option value="4" {{if eq .Snippet.Status 4}}selected{{end}}>Shared-Only (Selected Users)</option>
				  <option value="5" {{if eq .Snippet.Status 5}}selected{{end}}>Private</option>
			  </select></td>
			</tr>
			<tr class="field">
			  <td><label class="field-label" for="tf-shared-user">Shared User</label><br /><span class="field-label-description">(user name separated with comma):</span></td>
			  <td><input class="field-tf" name="shared-user" id="tf-shared-user" value="{{toSeparatedKeys .Snippet.SharedUser}}" /></td>
			</tr>
			<tr class="field">
			  <td><label class="field-label" for="ta-description">Description:</label></td>
			  <td><textarea name="description" id="ta-description">{{.Snippet.Description}}</textarea></td>
			</tr>
			<tr class="field">
			  <td></td>
			  <td><input type="submit" value="Save Info" /></td>
			</tr>
		  </tbody>
		</table>
	  </form>
	</fieldset>

	<fieldset>
	  <legend>File List</legend>
	  <div>
		<a href="/snippet/{{$snippet.BelongingUser}}/{{$snippet.Name}}/setting/new">New File</a>
	  </div>
	  <ul class="snippet-setting-file-list">
		{{range $k, $v := .Snippet.FileList}}
		<li class="snippet-setting-file">
		  {{$k}} <a href="/snippet/{{$snippet.BelongingUser}}/{{$snippet.Name}}/setting/edit/{{$k}}">Edit</a> <a href="/snippet/{{$snippet.BelongingUser}}/{{$snippet.Name}}/setting/delete/{{$k}}">Delete</a> 
		</li>
		{{end}}
	  </ul>
	</fieldset>
	  
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

