{{$csrf_key := "__csrf_token"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>User Edit :: Admin :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
	<link rel="stylesheet" href="/static/style-admin.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  
	  <h1 class="header-name" style="margin-bottom: 0">Admin/User</h1>
	</header>
	<hr />

	<main>
	  {{template "admin/user/_sidebar" .}}

	  <div class="setting-main main-side">
		<fieldset>
		  <legend>Change info</legend>
		  {{if .ErrorMsg}}
		  {{if eq .ErrorMsg.Type "info"}}
		  <div class="error-msg">{{.ErrorMsg.Message}}</div>
		  {{end}}
		  {{end}}
		  <form action="" method="POST">
			<input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
			<input type="hidden" name="type" value="info" />
			<input type="hidden" name="username" value="{{.User.Name}}" />
			<table class="field-table">
			  <tbody>
				<tr class="field">
				  <td><label class="field-label" for="s-status">Status:</label></td>
				  <td><select class="field-select" name="status" id="s-status">
					  <option value="1" {{if eq .User.Status 1}}selected{{end}}>Normal User</option>
					  <option value="2" {{if eq .User.Status 2}}selected{{end}}>Approval Needed</option>
					  <option value="3" {{if eq .User.Status 3}}selected{{end}}>Confirmation Needed</option>
					  <option value="8" {{if eq .User.Status 8}}selected{{end}}>Normal User (No Namespace Creation)</option>
					  {{if .LoginInfo.IsAdmin}}
					  <option value="4" {{if eq .User.Status 4}}selected{{end}}>Admin</option>
					  {{end}}
					  {{if .LoginInfo.IsSuperAdmin}}
					  <option value="5" {{if eq .User.Status 5}}selected{{end}}>Super Admin</option>
					  {{end}}
					  <option value="7" {{if eq .User.Status 7}}selected{{end}}>Banned</option>
				  </select></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="tf-title">Title:</label></td>
				  <td><input class="field-tf" id="tf-title" name="title" value="{{.User.Title}}"/></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="tf-email">Email:</label></td>
				  <td><input class="field-tf" id="tf-email" autocomplete="email" name="email" value="{{.User.Email}}" /></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="tf-website">Website:</label></td>
				  <td><input class="field-tf" id="tf-website" name="website" value="{{.User.Website}}" /></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="ta-bio">Bio:</label></td>
				  <td><textarea id="ta-bio" name="bio">{{.User.Bio}}</textarea></td>
				</tr>
				<tr>
				  <td>
				  </td>
				  <td>
					<input type="submit" value="Change Info" />
				  </td>
				</tr>
			  </tbody>
			</table>
		  </form>
		</fieldset>

		<fieldset>
		  <legend>Change password</legend>
		  {{if .ErrorMsg}}
		  {{if eq .ErrorMsg.Type "password"}}
		  <div class="error-msg">{{.ErrorMsg.Message}}</div>
		  {{end}}
		  {{end}}
		  <form action="" method="POST">
			<input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
			<input type="hidden" name="type" value="password" />
			<input type="hidden" name="username" value="{{.User.Name}}" />
			<table class="field-table">
			  <tbody>
				<tr class="field">
				  <td><label class="field-label" for="tf-old-password">Old Password:</label></td>
				  <td><input class="field-tf" id="tf-old-password" name="old-password" type="password" required/></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="tf-new-password">New Password:</label></td>
				  <td><input class="field-tf" id="tf-new-password" name="new-password" type="password" required /></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="tf-confirm-new-password">Confirm new password:</label></td>
				  <td><input class="field-tf" id="tf-confirm-new-password" name="confirm-new-password" type="password" required /></td>
				</tr>
				<tr>
				  <td>
				  </td>
				  <td><input type="submit" value="Change Password" /></td>
				</tr>
			  </tbody>
			</table>
		  </form>
		</fieldset>
	  </div>
	</main>
	
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

