{{$csrf_key := "__csrf_token"}}
{{$username := .User.Name}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>GPG keys :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
	<link rel="stylesheet" href="/static/style-admin.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  
	  <h1 class="header-name" style="margin-bottom: 0">Admin/User</h1>
	</header>
	<hr />

	<main>
	  {{template "admin/user/_sidebar" .}}

	  <div class="setting-main main-side">
		<h2>GPG Keys</h2>
		{{if .ErrorMsg}}
		<div class="error-msg">{{.ErrorMsg.Message}}</div>
		{{end}}
		
		{{if .KeyList}}
		{{if gt (len .KeyList) 0}}
		<div class="key-list">
		  {{range $k := .KeyList}}
		  <div class="key-list-item">
			<b>{{$k.KeyName}}</b> <a href="/admin/user/{{$username}}/gpg/{{$k.KeyName}}/edit">Edit</a> <a href="/admin/user/{{$username}}/gpg/{{$k.KeyName}}/delete">Delete</a>
			<details><summary>Key Data</summary><textarea readonly class="key-text">{{$k.KeyText}}</textarea></details>
		  </div>
		  {{end}}
		</div>
		{{else}}
		<p>There is no GPG keys set for this user.</p>
		{{end}}
		{{else}}
		<p>There is no GPG keys set for this user.</p>
		{{end}}

		<fieldset>
		  <legend>Add new GPG key</legend>
		  <form action="" method="POST">
			<input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
			<table class="field-table">
			  <tbody>
				<tr class="field">
				  <td><label class="field-label" for="ta-key-text">Key text:</label></td>
				  <td><textarea id="ta-key-text" name="key-text"></textarea></td>
				</tr>
				<tr>
				  <td></td>
				  <td><input type="submit" value="Add SSH key" /></td>
				</tr>
			  </tbody>
			</table>
		  </form>
		</fieldset>
		
	  </div>
	</main>
	
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

