{{$csrf_key := "__csrf_token"}}
{{$repoName := getRepoName .Repository.Namespace .Repository.Name}}
{{$repoPath := getRepoPath .Repository.Namespace .Repository.Name}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{$repoName}} :: Gitus</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-issue.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  {{template "_repo-header" .}}
	</header>
	
    <hr />

	<main>
	  {{template "issue/_sidebar" .}}
	  <div class="main-side">
		<form class="issue-search-bar" action="" method="GET">
		  <input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
		  <div class="issue-page-nav">
			{{if gt .PageInfo.PageNum 1}}<a href="?q={{.Query}}&s={{.PageInfo.PageSize}}&p={{sub .PageInfo.PageNum 1}}">&lt;&lt;</a>{{end}}
			{{.PageInfo.PageNum}} / {{.PageInfo.TotalPage}}
			{{if lt .PageInfo.PageNum .PageInfo.TotalPage}}<a href="?q={{.Query}}&s={{.PageInfo.PageSize}}&p={{add .PageInfo.PageNum 1}}">&gt;&gt;</a>{{end}}
		  </div>
		  <input name="q" id="q" value="{{.Query}}" placeholder="Search title..."/>
		  <select name="f">
			<option value="0" {{if eq .FilterType 0}}selected{{end}}>All</option>
			<option value="1" {{if eq .FilterType 1}}selected{{end}}>Open</option>
			<option value="2" {{if eq .FilterType 2}}selected{{end}}>Closed</option>
			<option value="3" {{if eq .FilterType 3}}selected{{end}}>Solved</option>
			<option value="4" {{if eq .FilterType 4}}selected{{end}}>Discarded</option>
		  </select>
		<input type="submit" value="Search" />
		</form>
		<div class="issue-list">
		  {{if or (not .IssueList) (le (len .IssueList) 0) }}
		  There is no issue for this repository.
		  {{else}}
		  {{range .IssueList}}
		  <div class="issue-list-item {{if eq .IssueStatus 1}}{{else}}issue-list-item-closed{{end}}">
			<div class="issue-title-bar"><span class="issue-id">#{{.IssueId}}:</span> {{if eq .IssueStatus 1}}<span class="issue-status-tag issue-status-tag-open">OPEN</span>{{else if eq .IssueStatus 2}}<span class="issue-status-tag issue-status-tag-solved">SOLVED</span>{{else if eq .IssueStatus 3}}<span class="issue-status-tag issue-status-tag-discarded">DISCARDED</span>{{end}} {{if gt .IssuePriority 0}}<span class="issue-status-tag issue-status-tag-pinned">PINNED</span>{{end}} <a href="{{$repoPath}}/issue/{{.IssueId}}"><span class="issue-title {{if eq .IssueStatus 3}}issue-title-discarded{{end}}">{{.IssueTitle}}</span></a></div>
			<div class="issue-desc-bar"><a href="/u/{{.IssueAuthor}}" class="issue-author">{{.IssueAuthor}}</a> @ {{toFuzzyTime .IssueTime}}</div>
			  <div class="precise-time">{{toPreciseTime .IssueTime}}</div>
		  </div>
		  {{end}}
		  {{end}}
		</div>
	  </div>
	</main>
	

	<hr />
	<footer>
	  <a href="/">Back to Depot</a>
	  {{template "_footer"}}
	</footer>
  </body>
</html>


