{{$csrf_key := "__csrf_token"}}
{{$repoName := getRepoName .Repository.Namespace .Repository.Name}}
{{$repoPath := getRepoPath .Repository.Namespace .Repository.Name}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{$repoName}} :: Gitus</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
	<link rel="stylesheet" href="/static/style-issue.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  {{template "_repo-header" .}}
	</header>
	
    <hr />

	<main>
	  {{template "issue/_sidebar" .}}
	  <div class="main-side">
		<fieldset>
		  <legend>Create New Issue</legend>
		  <form action="" method="POST">
			<input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
			<table class="field-table">
			  <tbody>
				<tr class="field">
				  <td><label class="field-label" for="tf-title">Title:</label></td>
				  <td><input class="field-tf" name="title" id="tf-title" /></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="tf-content">Content:</label></td>
				  <td><textarea name="content" id="tf-content"></textarea></td>
				</tr>
				<tr class="field">
				  <td></td>
				  <td><input type="submit" value="New Issue" /></td>
				</tr>
			  </tbody>
			</table>
		</form>
	  </div>
	</main>
	

	<hr />
	<footer>
	  <a href="/">Back to Depot</a>
	  {{template "_footer"}}
	</footer>
  </body>
</html>
