{{$csrf_key := "__csrf_token"}}
{{$loginInfo := .LoginInfo}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Namespace List :: Admin :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
	<link rel="stylesheet" href="/static/style-admin.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  
	  <h1 class="header-name" style="margin-bottom: 0">Admin</h1>
	</header>
	<hr />

	<main>
	  {{template "_admin-sidebar"}}

	  <div class="setting-main main-side">
		<h2>Namespace List</h2>
		<div>{{.ErrorMsg}}</div>
		<div class="list-nav admin-list-nav">
		  <div class="list-page-nav admin-list-page-nav">
			{{if gt .PageInfo.PageNum 1}}
			<a href="?p={{sub .PageInfo.PageNum 1}}&s={{.PageInfo.PageSize}}">&lt;&lt;</a>
			{{end}}
			<span class="list-page-nav-page-indicator admin-list-page-nav-page-indicator">{{.PageInfo.PageNum}} / {{.PageInfo.TotalPage}}</span>
			{{if lt .PageInfo.PageNum .PageInfo.TotalPage}}
			<a href="?p={{add .PageInfo.PageNum 1}}&s={{.PageInfo.PageSize}}">&gt;&gt;</a>
			{{end}}
		  </div>
		  <div class="list-page-goto admin-list-page-goto">
			<form class="list-page-goto-form admin-list-page-goto-form" action="" method="GET">
			  <input type="hidden" name="s" value="{{.PageInfo.PageSize}}" />
			  <label for="p">Page:</label> <input class="list-page-goto-form-tf admin-list-page-goto-form-tf" name="p" id="p" />
			  <input type="submit" value="Go" />
			</form>

			<div class="list-page-nav-page-sizer">
			  (<a class="list-page-nav-l admin-list-page-nav-l" href="?s=10">10</a>
			  <a class="list-page-nav-l admin-list-page-nav-l" href="?s=25">25</a>
			  <a class="list-page-nav-l admin-list-page-nav-l" href="?s=50">50</a>)
			</div>
		  </div>
		  <div class="list-search admin-list-search">
			<form class="admin-list-search-form" action="" method="GET">
			  <label for="tf-q">Search Namespace:</label> <input class="admin-list-search-tf" name="q" id="tf-q" {{if .Query}}value="{{.Query}}"{{end}} />
			  <input type="submit" value="Search" />
			</form>
		  </div>
		</div>
		<table class="admin-table">
		  <thead>
			<tr><th>Name</th><th>Title</th><th>Email</th><th>Owner</th><th>Status</th><th>Edit</th><th>Member</th><th>Delete</th></tr>
		  </thead>
		  <tbody>
			{{range .NamespaceList}}
			<tr>
			  <td><a target="_blank" href="/s/{{.Name}}">{{.Name}}</a></td>
			  <td>{{.Title}}</td>
			  <td>{{.Email}}</td>
			  <td>{{.Owner}}</td>
			  <td><span class="namespace-status-tag">
				  {{if eq .Status 1}}
				  Public
				  {{else if eq .Status 2}}
				  Private
				  {{else if eq .Status 3}}
				  Soft Deleted
				  {{end}}
				</span>
			  </td>
			  <td><a href="/admin/namespace/{{.Name}}/edit">Edit</a></td>
			  <td><a href="/s/{{.Name}}/member">Member</a></td>
			  <td>
				<a href="/admin/namespace/{{.Name}}/delete">Delete</a>
			  </td>
			</tr>
			{{end}}
		  </tbody>
		</table>


		<fieldset>
		  <legend>New Namespace</legend>
		  <div>{{.ErrorMsg}}</div>
		  
		  <form id="namespace-setting-form" action="" method="POST">
			<input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
			<table class="field-table">
			  <tbody>
				<tr class="field">
				  <td><label class="field-label" for="tf-name">Name:</label></td>
				  <td><input class="field-tf" name="name" id="tf-name" /></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="tf-title">Title:</label></td>
				  <td><input class="field-tf" name="title" id="tf-title" /></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="tf-owner">Owner:</label></td>
				  <td><input class="field-tf" name="owner" id="tf-owner" /></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="tf-email">Email:</label></td>
				  <td><input class="field-tf" name="email" id="tf-email" /></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="s-status">Status:</label></td>
				  <td><select class="field-select" name="status" id="s-status" >
					  <option value="1">Public</option>
					  <option value="2">Private</option>
				  </select></td>
				</tr>
			  </tbody>
			</table>
			<div class="field"><label class="field-label" for="description">Description:</label> <textarea class="field-tf" name="description" id="description"></textarea></div>
			<input class="field-submit" type="submit" value="New Namespace" />
		  </form>
		</fieldset>
		
	  </div>
	</main>
	
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

