{{$csrf_key := "__csrf_token"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>New User :: Admin :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
	<link rel="stylesheet" href="/static/style-admin.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  
	  <h1 class="header-name" style="margin-bottom: 0">Admin</h1>
	</header>
	<hr />

	<main>
	  {{template "_admin-sidebar"}}

	  <div class="setting-main main-side">
		<h2>New User</h2>
		<div>{{.ErrorMsg}}</div>
		
		<fieldset id="reg-form">
		  <legend>New User</legend>
		  <form action="" method="POST">
			<input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
			<table class="field-table">
			  <tbody>
				<tr class="field">
				  <td><label class="field-label" for="s-status">Status:</label></td>
				  <td><select name="status" id="s-status">
					  <option  value="1">Normal User</option>
					  <option value="2">Approval Needed</option>
					  <option value="3">Confirmation Needed</option>
					  {{if .LoginInfo.IsAdmin}}
					  <option value="4">Admin</option>
					  {{end}}
					  {{if .LoginInfo.IsSuperAdmin}}
					  <option value="5">Super Admin</option>
					  {{end}}
					  <option value="6">Soft Deleted</option>
					  <option value="7">Banned</option>
				  </select></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="tf-username">Username:</label></td>
				  <td><input class="field-tf" name="username" id="tf-username" /></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="tf-email">Email:</label></td>
				  <td><input class="field-tf" name="email" id="email" /></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="tf-password">Password:</label></td>
				  <td><input class="field-tf" type="password" name="password" id="tf-password" /></td>
				</tr>
				<tr class="field">
				  <td></td>
				  <td><input class="field-submit" type="submit" value="Register" /></td>
				</tr>
			  </tbody>
			</table>
		  </form>
		</div>
	  </div>
	</main>
	
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

