{{$csrf_key := "__csrf_token"}}
{{$loginInfo := .LoginInfo}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Registration Request List :: Admin :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
	<link rel="stylesheet" href="/static/style-admin.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  
	  <h1 class="header-name" style="margin-bottom: 0">Admin</h1>
	</header>
	<hr />

	<main>
	  {{template "_admin-sidebar"}}

	  <div class="setting-main main-side">
		<h2>Registration Request List</h2>
		<div>{{.ErrorMsg}}</div>
		<div class="admin-action">

		</div>
		<div class="list-nav admin-list-nav">
		  <div class="list-page-nav admin-list-page-nav">
			{{if gt .PageInfo.PageNum 1}}
			<a href="?p={{sub .PageInfo.PageNum 1}}&s={{.PageInfo.PageSize}}">&lt;&lt;</a>
			{{end}}
			<span class="list-page-nav-page-indicator admin-list-page-nav-page-indicator">{{.PageInfo.PageNum}} / {{.PageInfo.TotalPage}}</span>
			{{if lt .PageInfo.PageNum .PageInfo.TotalPage}}
			<a href="?p={{add .PageInfo.PageNum 1}}&s={{.PageInfo.PageSize}}">&gt;&gt;</a>
			{{end}}
		  </div>
		  <div class="list-page-goto admin-list-page-goto">
			<form class="list-page-goto-form admin-list-page-goto-form" action="" method="GET">
			  <input type="hidden" name="s" value="{{.PageInfo.PageSize}}" />
			  <label for="p">Page:</label> <input class="list-page-goto-form-tf admin-list-page-goto-form-tf" name="p" id="p" />
			  <input type="submit" value="Go" />
			</form>

			<div class="list-page-nav-page-sizer">
			  (<a class="list-page-nav-l admin-list-page-nav-l" href="?s=10">10</a>
			  <a class="list-page-nav-l admin-list-page-nav-l" href="?s=25">25</a>
			  <a class="list-page-nav-l admin-list-page-nav-l" href="?s=50">50</a>)
			</div>
		  </div>
		  <div class="list-search admin-list-search">
			<form class="list-search-form admin-list-search-form" action="" method="GET">
			  <label for="tf-q">Search User:</label> <input class="list-search-tf admin-list-search-tf" name="q" id="tf-q" value="{{.Query}}"/>
			  <input type="submit" value="Search" />
			</form>
		  </div>
		</div>
		<table class="admin-table">
		  <thead>
			<tr><th>User Name</th><th>Email</th><th>Reason</th><th>Approve</th><th>Disapprove</th></tr>
		  </thead>
		  <tbody>
			{{range .RequestList}}
			<tr><td>{{.Username}}</td><td>{{.Email}}</td><td>{{.Reason}}</td><td><a href="/admin/reg-request/{{.AbsId}}/approve">Approve</a></td><td><a href="/admin/reg-request/{{.AbsId}}/disapprove">Disapprove</a></td>
			</tr>
			{{end}}
		  </tbody>
		</table>
	  </div>
	</main>
	
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

