{{$csrf_key := "__csrf_token"}}
{{$loginInfo := .LoginInfo}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Repository List :: Admin :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
	<link rel="stylesheet" href="/static/style-admin.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  
	  <h1 class="header-name" style="margin-bottom: 0">Admin</h1>
	</header>
	<hr />

	<main>
	  {{template "_admin-sidebar"}}

	  <div class="setting-main main-side">
		<h2>Repository List</h2>
		<div>{{.ErrorMsg}}</div>
		<div class="list-nav admin-list-nav">
		  <div class="list-page-nav admin-list-page-nav">
			{{if gt .PageInfo.PageNum 1}}
			<a href="?p={{sub .PageInfo.PageNum 1}}&s={{.PageInfo.PageSize}}">&lt;&lt;</a>
			{{end}}
			<span class="list-page-nav-page-indicator admin-list-page-nav-page-indicator">{{.PageInfo.PageNum}} / {{.PageInfo.TotalPage}}</span>
			{{if lt .PageInfo.PageNum .PageInfo.TotalPage}}
			<a href="?p={{add .PageInfo.PageNum 1}}&s={{.PageInfo.PageSize}}">&gt;&gt;</a>
			{{end}}
		  </div>
		  <div class="list-page-goto admin-list-page-goto">
			<form class="list-page-goto-form admin-list-page-goto-form" action="" method="GET">
			  <input type="hidden" name="s" value="{{.PageInfo.PageSize}}" />
			  <label for="tf-p">Page:</label> <input class="admin-list-page-goto-form-tf list-page-goto-form-tf" name="p" id="tf-p" {{if .Query}}value="{{.Query}}"{{end}}/>
			  <input type="submit" value="Go" />
			</form>

			<div class="list-page-nav-page-sizer">
			  (<a class="list-page-nav-l admin-list-page-nav-l" href="?s=10">10</a>
			  <a class="list-page-nav-l admin-list-page-nav-l" href="?s=25">25</a>
			  <a class="list-page-nav-l admin-list-page-nav-l" href="?s=50">50</a>)
			</div>
		  </div>
		  <div class="list-search admin-list-search">
			<form class="list-search-form admin-list-search-form" action="" method="GET">
			  <label for="tf-q">Search Namespace:</label> <input class="list-search-tf admin-list-search-tf" name="q" id="tf-q" />
			  <input type="submit" value="Search" />
			</form>
		  </div>
		</div>
		<table class="admin-table">
		  <thead>
			<tr><th>Namespace</th><th>Name</th><th>Owner</th><th>Status</th><th>Edit</th><th>Member</th><th>Delete</th></tr>
		  </thead>
		  <tbody>
			{{range .RepositoryList}}
			{{$rfn := getRepoName .Namespace .Name}}
			<tr>
			  <td><a target="_blank" href="/s/{{.Namespace}}">{{.Namespace}}</a></td>
			  <td><a target="_blank" href="/repo/{{$rfn}}">{{.Name}}</a></td>
			  <td>{{.Owner}}</td>
			  <td><span class="namespace-status-tag">
				  {{if eq .Status 1}}
				  Public
				  {{else if eq .Status 2}}
				  Private
				  {{else if eq .Status 4}}
				  Archived
				  {{end}}
				</span>
			  </td>
			  <td><a href="/repo/{{$rfn}}/setting">Edit</a></td>
			  <td><a href="/repo/{{$rfn}}/setting/member">Member</a></td>
			  <td>
				<a href="/repo/{{$rfn}}/delete">Delete</a>
			  </td>
			</tr>
			{{end}}
		  </tbody>
		</table>
	  </div>
	</main>
	
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

