{{$csrf_key := "__csrf_token"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Receipt System Settings :: Admin :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
	<link rel="stylesheet" href="/static/style-admin.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  
	  <h1 class="header-name" style="margin-bottom: 0">Admin</h1>
	</header>
	<hr />

	<main>
	  {{template "_admin-sidebar"}}

	  <div class="setting-main main-side">
		<fieldset>
		  <legend>Receipt System Settings</legend>
		  <div>{{.ErrorMsg}}</div>
		  <form action="" method="POST">
			<input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
			<table class="field-table">
			  <tr class="field">
				<td><label class="field-label" for="s-type">Receipt System Type:</label></td>
				<td><select name="type" id="s-type" value="{{.Config.ReceiptSystem.Type}}">
					<option value="sqlite">Sqlite3</option>
				</select></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="tf-path">Receipt System Path:</label></td>
				<td><input name="path" id="tf-path" class="field-tf" value="{{.Config.ReceiptSystem.Path}}"/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="tf-url">Receipt System URL:</label></td>
				<td><input name="url" id="tf-url" class="field-tf" value="{{.Config.ReceiptSystem.URL}}"/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="tf-username">Receipt System Username:</label></td>
				<td><input name="username" id="tf-username" class="field-tf" value="{{.Config.ReceiptSystem.UserName}}"/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="tf-password">Receipt System Password:</label></td>
				<td><input name="password" id="tf-password" type="password" class="field-tf" value="{{.Config.ReceiptSystem.Password}}"/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="tf-table-prefix">Receipt System Table Prefix:</label></td>
				<td><input name="table-prefix" id="tf-table-prefix" class="field-tf" value="{{.Config.ReceiptSystem.TablePrefix}}"/></td>
			  </tr>
			  <tr class="field">
				<td></td>
				<td><input class="field-submit" type="submit" value="Save Config" /></td>
			  </tr>
			</table>
		  </form>
		</fieldset>
	  </div>
	</main>
	
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

