{{$csrf_key := "__csrf_token"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Session Store Settings :: Admin :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
	<link rel="stylesheet" href="/static/style-admin.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  
	  <h1 class="header-name" style="margin-bottom: 0">Admin</h1>
	</header>
	<hr />

	<main>
	  {{template "_admin-sidebar"}}

	  <div class="setting-main main-side">
		<fieldset>
		  <legend>Session Store Settings</legend>
		  <div>{{.ErrorMsg}}</div>
		  <form action="" method="POST">
			<input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
			<table class="field-table">
			  <tr class="field">
				<td><label class="field-label" for="s-type">Session Store Type:</label></td>
				<td><select name="type" id="s-type">
					<option value="sqlite" {{if eq .Config.Session.Type "sqlite"}}selected{{end}}>Sqlite3</option>
					<optgroup label="Redis-like">
					  <option value="redis" {{if eq .Config.Session.Type "redis"}}selected{{end}}>Redis</option>
					  <option value="valkey" {{if eq .Config.Session.Type "valkey"}}selected{{end}}>ValKey</option>
					  <option value="keydb" {{if eq .Config.Session.Type "keydb"}}selected{{end}}>KeyDB</option>
					</optgroup>
					<option value="memcached" {{if eq .Config.Session.Type "memcached"}}selected{{end}}>Memcached</option>
				  </select>
				</td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="tf-path">Session Store Path:</label></td>
				<td><input name="path" id="tf-path" class="field-tf" value="{{.Config.Session.Path}}"/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="tf-table-prefix">Session Store Table Prefix:</label></td>
				<td><input name="table-prefix" id="tf-table-prefix" class="field-tf" value="{{.Config.Session.TablePrefix}}"/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="tf-host">Session Store Host:</label></td>
				<td><input name="host" id="tf-host" class="field-tf" value="{{.Config.Session.Host}}"/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="tf-user-name">Session Store User Name:</label></td>
				<td><input name="user-name" id="tf-user-name" class="field-tf" value="{{.Config.Session.UserName}}"/>
				</td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="tf-password">Session Store Password:</label></td>
				<td><input name="password" id="tf-password" type="password" class="field-tf" value="{{.Config.Session.Password}}"/>
				</td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="tf-database-number">Session Store Database Number:</label>
				</td>
				<td><input name="database-number" id="tf-database-number" class="field-tf" value="{{.Config.Session.DatabaseNumber}}"/></td>
			  </tr>
			  <tr class="field">
				<td></td>
				<td><input class="field-submit" type="submit" value="Save Config" /></td>
			  </tr>
			</table>
		  </form>
		</fieldset>
	  </div>
	</main>
	
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

