{{$csrf_key := "__csrf_token"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Site Lockdown :: Admin :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
	<link rel="stylesheet" href="/static/style-admin.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  
	  <h1 class="header-name" style="margin-bottom: 0">Admin</h1>
	</header>
	<hr />

	<main>
	  {{template "_admin-sidebar"}}

	  <div class="setting-main main-side">
		<p>This instance is currently running in <span style="background-color:var(--foreground-color);color:var(--background-color)">{{.CurrentMode}}</span> mode.</p>

		<fieldset>
		  <legend>Set to Public Mode</legend>
		  <div>
			<form action="" method="POST">
			  <input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
			  <input type="hidden" name="type" value="public" />
			  <input type="submit" value="Set to Public mode" />
			</form>
		  </div>
		</fieldset>

		<fieldset>
		  <legend>Set to Private Mode</legend>
			<p>Under Private Mode, users cannot visit public namespaces and repositories without login; they cannot clone through HTTP either. All other functionalities work the same.</p>
			<form action="" method="POST">
			  <input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
			  <input type="hidden" name="type" value="private" />
			  <label class="field-label" for="ta-private-notice-message">Message:</label>
			  <textarea name="private-notice-message" id="ta-private-notice-message">{{.PrivateNoticeMessage}}</textarea>
			  <input type="submit" value="Set to Private mode" />
			</form>
		</fieldset>

		<fieldset>
		  <legend>Set to Shutdown Mode</legend>
		  <p>Under Shutdown Mode, users:</p>
		  <ul>
			<li>cannot visit public namespaces/repositories;</li>
			<li>cannot clone through HTTP;</li>
			<li>cannot push/pull through SSH;</li>
			<li>cannot login, unless they are in the Full Access User list.</li>
		  </ul>
		  <form action="" method="POST">
			<input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
			<input type="hidden" name="type" value="shutdown" />
			<label class="field-label" for="tf-full-access-user">Full access user:</label>
			<input class="field-tf" name="full-access-user" id="tf-full-access-user" value="{{htmlEscape .FullAccessUser}}" />
			<label class="field-label" for="ta-shutdown-notice-message">Message:</label>
			<textarea name="shutdown-notice-message" id="ta-shutdown-notice-message">{{.ShutdownNoticeMessage}}</textarea>
			<input type="submit" value="Set to Shutdown mode" />
		  </form>
		</fieldset>

		<fieldset>
		  <legend>Set to Maintenance Mode</legend>
		  <p>Under Maintenance Mode, all functionalities won't work. This is reserved for administrators who need to perform work directly on the server the instance resides.</p>
		  <form action="" method="POST">
			<input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
			<input type="hidden" name="type" value="maintenance" />
			
			<label class="field-label" for="ta-maintenance-notice-message">Message:</label>
			<textarea name="maintenance-notice-message" id="ta-maintenance-notice-message">{{.MaintenanceNoticeMessage}}</textarea>
			<input type="submit" value="Set to Maintenance mode" />
		  </form>
		</fieldset>
	  </div>
	</main>
	
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

