<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Site Config :: Admin :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
	<link rel="stylesheet" href="/static/style-admin.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  
	  <h1 class="header-name" style="margin-bottom: 0">Admin</h1>
	</header>

	<hr />
	
	<main>
	  {{template "_admin-sidebar"}}
	  
	  <div class="setting-main main-side">
		<fieldset class="setting-section">
		  <legend>Basic Settings</legend>
		  <form action="" method="POST">
			<input type="hidden" name="section" value="basic" />
			<table class="field-table">
			  <tr class="field">
				<td><label class="field-label"  for="tf-depot-name">Depot name:</label></td>
				<td><input name="depot-name" id="tf-depot-name" class="field-tf" value="{{.Config.DepotName}}" /></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label field-chkbox-label"  for="chkbox-use-namespace">Use Namespace:</label></td>
				<td><input type="checkbox" name="use-namespace" id="chkbox-use-namespace" class="field-chkbox" {{if .Config.UseNamespace}}checked{{end}}/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label field-chkbox-label"  for="chkbox-allow-registration">Allow Registration:</label></td>
				<td><input type="checkbox" name="allow-registration" id="chkbox-allow-registration" class="field-chkbox" {{if .Config.AllowRegistration}}checked{{end}}/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label field-chkbox-label"  for="chkbox-email-confirmation-required">Email Confirmation Required:</label></td>
				<td><input type="checkbox" name="email-confirmation-required" id="chkbox-email-confirmation-required" class="field-chkbox" {{if .Config.EmailConfirmationRequired}}checked{{end}}/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label field-chkbox-label"  for="chkbox-manual-approval">Manual Approval Required:</label></td>
				<td><input type="checkbox" name="manual-approval" id="chkbox-manual-approval" class="field-chkbox" {{if .Config.ManualApproval}}checked{{end}}/></td>
			  </tr>
			  <tr class="field">
				<td></td>
				<td><input class="field-submit" type="submit" value="Save Config" /></td>
			  </tr>
			</table>
		  </form>
		</fieldset>

		<fieldset class="git-section">
		  <legend>Git Settings</legend>
		  <form action="" method="POST">
			<input type="hidden" name="section" value="git" />
			<table class="field-table">
			  <tr class="field">
				<td><label class="field-label"  for="tf-root">Root:</label></td>
				<td><input name="root" id="tf-root" required class="field-tf" value="{{.Config.GitRoot}}" /></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label"  for="tf-git-user">Git User:</label></td>
				<td><input name="git-user" id="tf-git-user" required class="field-tf" value="{{.Config.GitUser}}" /></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="chk-http-enable-v1dumb">Enable v1-dumb protocol for HTTP clone</label></td>
				<td><input type="checkbox" id="chk-http-enable-v1dumb" name="git-http-enable-v1dumb" class="field-checkbox" {{if .Config.GitConfig.HTTPCloneProtocol.V1Dumb}}checked{{end}}/ ></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="chk-http-enable-v2">Enable v2 protocol for HTTP clone</label></td>
				<td><input type="checkbox" id="chk-http-enable-v2" name="git-http-enable-v2" class="field-checkbox" {{if .Config.GitConfig.HTTPCloneProtocol.V2}}checked{{end}}/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="tf-no-interactive-shell-message">"No Interactive Shell" message:</label></td>
				<td><input name="no-interactive-shell-message" id="tf-no-interactive-shell-message" class="field-tf" value="{{.Config.NoInteractiveShellMessage}}" /></td>
			  </tr>
			  <tr class="field">
				<td></td>
				<td><input class="field-submit" type="submit" value="Save Config" /></td>
			  </tr>
			</table>
		  </form>
		</fieldset>
		
		<fieldset class="setting-section">
		  <legend>Web Setting</legend>
		  <form action="" method="POST">
			<input type="hidden" name="section" value="web" />
			<table class="field-table">
			  <tr>
				<td class="field"><label class="field-label" for="tf-http-host-name">HTTP Host Name:</label></td>
				<td><input name="http-host-name" id="tf-http-host-name" class="field-tf" value="{{.Config.HttpHostName}}"/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="tf-ssh-host-name">SSH Host Name:</label></td>
				<td><input name="ssh-host-name" id="tf-ssh-host-name" class="field-tf" value="{{.Config.SshHostName}}"/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="tf-static-asset-directory">Static Asset Directory:</label></td>
				<td><input name="static-asset-directory" id="tf-static-asset-directory" class="field-tf" value="{{.Config.StaticAssetDirectory}}"/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="tf-bind-address">Bind Address:</label></td>
				<td><input name="bind-address" id="tf-bind-address" class="field-tf" value="{{.Config.BindAddress}}"/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="tf-bind-port">Bind Port:</label></td>
				<td><input name="bind-port" id="tf-bind-port" class="field-tf" value="{{.Config.BindPort}}"/></td>
			  </tr>
			  <tr class="field">
				<td></td>
				<td><input class="field-submit" type="submit" value="Save Config" /></td>
			  </tr>
			</table>
		  </form>
		</fieldset>

		<fieldset>
		  <legend>Theme Configuration</legend>
		  
		  <form action="" method="POST">
			<input type="hidden" name="section" value="theme-config" />
			<table class="field-table">
			  <tbody>
				<tr class="field">
				  <td><label class="field-label" for="tf-foreground-color">Foreground Color:</label></td>
				  <td><input id="tf-foreground-color" name="foreground-color" value="{{.Config.Theme.ForegroundColor}}" /></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="tf-background-color">Background  Color:</label></td>
				  <td><input id="tf-background-color" name="background-color" value="{{.Config.Theme.BackgroundColor}}" /></td>
				</tr>
				<tr class="field">
				  <td></td>
				  <td><input type="submit" value="Save Preference" /></td>
				</tr>
			  </tbody>
			</table>
		  </form>
		</fieldset>
		
		<fieldset>
		  <legend>Index Configuration</legend>
		  <form action="" method="POST">
			<input type="hidden" name="section" value="front-page" />
			<table class="field-table">
			  <tr class="field">
				<td><label class="field-label" for="sel-front-page-type">Front page type:</label></td>
				<td><select class="field-select" name="front-page-type" id="sel-front-page-type">
					<option {{if eq .Config.FrontPage.Type "all/namespace"}}selected{{end}} value="all/namespace">All Namespaces</option>
					<option {{if eq .Config.FrontPage.Type "all/repository"}}selected{{end}} value="all/repository">All Repository</option>
					<option {{if eq .Config.FrontPage.Type "namespace"}}selected{{end}} value="namespace">Namespace</option>
					<option {{if eq .Config.FrontPage.Type "repository"}}selected{{end}} value="repository">Repository</option>
					<option {{if eq .Config.FrontPage.Type "static/html"}}selected{{end}} value="static/html">HTML text</option>
					<option {{if eq .Config.FrontPage.Type "static/markdown"}}selected{{end}} value="static/markdown">Markdown text</option>
					<option {{if eq .Config.FrontPage.Type "static/text"}}selected{{end}} value="static/text">Plain text</option>
					<option {{if eq .Config.FrontPage.Type "static/org"}}selected{{end}} value="static/org">Org-mode text</option>
				  </select>
				</td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="namespace">Namespace:</label></td>
				<td><input class="field-tf" name="namespace" id="namespace" value="{{.Config.FrontPage.Namespace}}"></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="repository">Repository:</label></td>
				<td><input class="field-tf" name="repository" id="repository" value="{{.Config.FrontPage.Repository}}"></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="file-content">File content:</label></td>
				<td><textarea name="file-content" id="file-content">{{.Config.FrontPage.FileContent}}</textarea></td>
			  </tr>
			  <tr class="field">
				<td></td>
				<td><input class="field-submit" type="submit" value="Save Config" /></td>
			  </tr>
			</table>
		  </form>
		</fieldset>
	  </div>
		
	  </div>
	</main>
	
    <hr />
	
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

