{{$csrf_key := "__csrf_token"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Settings of {{.Repository.Name}} :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
	<link rel="stylesheet" href="/static/style-repo-setting.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  {{template "_repo-header" .}}
	</header>
	<hr />

	<main>
	  {{template "repo-setting/_sidebar" .}}

	  <div class="main-side">
		{{if .ErrorMsg}}
		<div class="error-msg">{{.ErrorMsg}}</div>
		{{end}}

		<fieldset>
		  <legend>Change info</legend>
		  <form id="repo-setting-form" action="" method="POST">
			<input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
			<table class="field-table">
			  <tr class="field">
				<td><label class="field-label" for="s-status">Status:</label></td>
				<td><select class="field-select" name="status" id="s-status" value="{{.Repository.Status}}">
					<option value="1" {{if eq .Repository.Status 1}}selected{{end}}>Public</option>
					<option value="2" {{if eq .Repository.Status 2}}selected{{end}}>Private</option>
					<option value="4" {{if eq .Repository.Status 4}}selected{{end}}>Archived</option>
				</select></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="tf-owner">Owner:</label></td>
				<td><input class="field-tf" name="owner" id="tf-owner" value="{{.Repository.Owner}}" /></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="ta-description">Description:</label></td>
				<td><textarea class="field-tf" name="description" id="ta-description">{{.Repository.Description}}</textarea></td>
			  </tr>
			  <tr class="field">
				<td></td>
				<td><input class="field-submit" type="submit" value="Change Info" /></td>
			  </tr>
			</table>
		  </form>
		</fieldset>
		
		<fieldset>
		  <legend>Delete Repository</legend>
		  <a href="/repo/{{.RepoFullName}}/delete">Click here to delete this repository</a>
		</fieldset>

	  </div>
	</main>

    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

