{{$csrf_key := "__csrf_token"}}
{{$repoName := .Repository.Name}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Settings of {{.Repository.Namespace}}:{{.Repository.Name}} :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
	<link rel="stylesheet" href="/static/style-repo-setting.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  
	  {{template "_repo-header" .}}
	</header>
	<hr />

	<main>
	  {{template "repo-setting/_sidebar" .}}

	  <div class="main-side">
		
		{{if .ErrorMsg}}
		<div class="error-msg">{{.ErrorMsg}}</div>
		{{end}}

		<fieldset>
		  <legend>Edit Member</legend>
		  <form id="namespace-setting-form" action="" method="POST">
			<input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
			<table class="field-table">
			  <tr class="field">
				<td class="field-label">Username:</td>
				<td>{{.Username}}</td>
			  </tr>
			  <tr class="field">
				<td class="field-label">Privilege:</td>
				<td>
				  <table style="width:fit-content">
					<thead><tr><th>Privilege</th><th>Allow?</th></tr></thead>
					<tbody>
					  <tr class="field"><td><label for="chkbox-addMember">Add Member</label></td> <td><input type="checkbox" name="addMember" id="chkbox-addMember" {{if and .ACLTuple .ACLTuple.AddMember}}checked{{end}} /></td></tr>
					  <tr class="field"><td><label for="chkbox-deleteMember">Delete Member</label></td> <td><input type="checkbox" name="deleteMember" id="chkbox-deleteMember"  {{if and .ACLTuple .ACLTuple.DeleteMember}}checked{{end}}  /></td></tr>
					  <tr class="field"><td><label for="chkbox-editMember">Edit Member</label></td> <td><input type="checkbox" name="editMember" id="chkbox-editMember" {{if and .ACLTuple .ACLTuple.EditMember}}checked{{end}} /></td></tr>
					  <tr class="field"><td><label for="chkbox-editInfo">Edit Info</label></td> <td><input type="checkbox" name="editInfo" id="chkbox-editInfo" {{if and .ACLTuple .ACLTuple.EditInfo}}checked{{end}} /></td></tr>
					  <tr class="field"><td><label for="chkbox-pushToRepo">Push To Repository</label></td> <td><input type="checkbox" name="pushToRepo" id="chkbox-pushToRepo" {{if and .ACLTuple .ACLTuple.PushToRepository}}checked{{end}} /></td></tr>
					  <tr class="field"><td><label for="chkbox-archiveRepo">Archive Repository</label></td> <td><input type="checkbox" name="archiveRepo" id="chkbox-archiveRepo" {{if and .ACLTuple .ACLTuple.ArchiveRepository}}checked{{end}} /></td></tr>
					  <tr class="field"><td><label for="chkbox-deleteRepo">Delete Repository</label></td> <td><input type="checkbox" name="deleteRepo" id="chkbox-deleteRepo" {{if and .ACLTuple .ACLTuple.DeleteRepository}}checked{{end}} /></td></tr>
					  <tr class="field"><td><label for="chkbox-editWebHooks">Edit Webhooks</label></td> <td><input type="checkbox" name="editWebHooks" id="chkbox-editWebHooks" {{if and .ACLTuple .ACLTuple.EditWebHooks}}checked{{end}} /></td></tr>
					</tbody>
				  </table>
				</td>
			  </tr>
			  <tr>
				<td></td>
				<td>
				  <input class="field-submit" type="submit" value="Edit Member Privilege" />
				</td>
			  </tr>
		  </form>
		</fieldset>

	  </div>
	</main>

    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

