{{$csrf_key := "__csrf_token"}}
{{$repoPath := getRepoPath .Repository.Namespace .Repository.Name}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Settings of {{.Repository.Name}} :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
	<link rel="stylesheet" href="/static/style-repo-setting.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  {{template "_repo-header" .}}
	</header>
	<hr />

	<main>
	  {{template "repo-setting/_sidebar" .}}

	  <div class="main-side">

		<fieldset>
		  <legend>Edit label</legend>

		<div>
		{{if .Repository.RepoLabelList}}
		{{range $k := .Repository.RepoLabelList}}
		<span class="setting-repo-label-item"><a target="_blank" href="/label/{{$k}}">#{{$k}}</a> <a href="{{$repoPath}}/setting/label/{{$k}}/delete">x</a></span>
		{{end}}
		{{else}}
		<p>This repository has no labels.</p>
		{{end}}
		</div>
		
		<form id="repo-setting-form" action="" method="POST">
		  <input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
		  <div class="field"><label class="field-label" for="tf-label">Label text:</label>
			<input name="label" id="tf-label" />
		  </div>
		  <input class="field-submit" type="submit" value="Add New Label" />
		</form>
		</fieldset>

		
	  </div>
	</main>

    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

