{{$csrf_key := "__csrf_token"}}
{{$repoName := .Repository.Name}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Settings of {{.Repository.Namespace}}:{{.Repository.Name}} :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
	<link rel="stylesheet" href="/static/style-repo-setting.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  
	  {{template "_repo-header" .}}
	</header>
	<hr />

	<main>
	  {{template "repo-setting/_sidebar" .}}

	  <div class="main-side">
		
		{{if .ErrorMsg}}
		<div class="error-msg">{{.ErrorMsg}}</div>
		{{end}}

		<fieldset>
		  <legend>Edit Webhook Setting</legend>
		  <p><i>(PLEASE NOTE THAT webhook secret could be changed due to the old one not being long enough; please remember to update the receiving side of the webhook request with the newest secret.)</i></p>
		  <form id="repository-setting-form" action="" method="POST">
			<input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
			<table class="field-table">
			  <tbody>
				<tr class="field">
				  <td><label class="field-label field-chkbox-label" for="chkbox-enable">Enable Webhook:</label></td>
				  <td><input type="checkbox" name="enable" id="chkbox-enable" {{if .Repository.WebHookConfig.Enable}}checked{{end}} /></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="tf-secret">Secret:</label></td>
				  <td><p class="field-tf" name="secret" id="tf-secret">{{.Repository.WebHookConfig.Secret}}</p></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="tf-target-url">Target URL:</label></td>
				  <td><input class="field-tf" name="target-url" id="tf-target-url" value="{{.Repository.WebHookConfig.TargetURL}}" /></td>
				</tr>
				<tr class="field">
				  <td>
				  </td>
				  <td>
					<input class="field-submit" type="submit" value="Update" />
				  </td>
				</tr>
			  </tbody>
			</table>
		  </form>
		</fieldset>

	  </div>
	</main>

    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

