{{$csrf_key := "__csrf_token"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>settings of {{.User.Name}} :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  
	  <h1 class="header-name" style="margin-bottom: 0">Settings</h1>
	</header>
	<hr />

	<main>
	  {{template "setting/_sidebar"}}

	  <div class="setting-main main-side">
		<fieldset>
		  <legend>Two-Factor Authentication</legend>
		  {{if .ErrorMsg}}
		  {{if eq .ErrorMsg.Type "info"}}
		  <div class="error-msg">{{.ErrorMsg.Message}}</div>
		  {{end}}
		  {{end}}
		  <form action="" method="POST">
			<input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
			<input type="hidden" name="section" value="2fa" />
			<input type="hidden" name="type" value="email" />
			<table class="field-table">
			  <tr class="field">
				<td><label class="field-label" for="chkbox-email-enable">Enable Email 2FA Confirm Code:</label></td>
				<td><input type="checkbox" name="email-enable" id="chkbox-email-enable" {{if .User.TFAConfig.Email.Enable}}checked{{end}}/></td>
			  </tr>
			  <tr>
				<td></td>
				<td><input class="field-submit" type="submit" value="Save" /></td>
			  </tr>
			</table>
		  </form>
		</fieldset>
	  </div>
	</main>
	
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

