{{$csrf_key := "__csrf_token"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>SSH keys :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  
	  <h1 class="header-name" style="margin-bottom: 0">Settings</h1>
	</header>
	<hr />

	<main>
	  {{template "setting/_sidebar"}}

	  <div class="setting-main main-side">
		<h2>SSH Keys</h2>
		
		{{if .KeyList}}
		{{if gt (len .KeyList) 0}}
		<div class="key-list">
		  {{range $k := .KeyList}}
		  <div class="key-list-item">
			<b>{{$k.KeyName}}</b> <a href="/setting/ssh/{{$k.KeyName}}/edit">Edit</a> <a href="/setting/ssh/{{$k.KeyName}}/delete">Delete</a>
			<details><summary>Key Data</summary><textarea readonly class="key-text">{{$k.KeyText}}</textarea></details>
		  </div>
		  {{end}}
		</div>
		{{else}}
		<p>There is no SSH keys set for this user.</p>
		{{end}}
		{{else}}
		<p>There is no SSH keys set for this user.</p>
		{{end}}

		<fieldset>
		  <legend>Add new SSH key</legend>
		  {{if .ErrorMsg}}
		  <div class="error-msg">{{.ErrorMsg.Message}}</div>
		  {{end}}
		  <form action="" method="POST">
			<input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
			<div class="field">
			  <label class="field-label" for="key-text">Key text:</label>
			  <textarea name="key-text"></textarea>
			</div>
			<table class="field-table">
			  <tr class="field">
				<td><label class="field-label" for="tf-password">Confirm with your password:</label></td>
				<td><input class="field-tf" type="password" id="tf-password" name="password" required /></td>
			  </tr>
			  <tr>
				<td></td>
				<td><input class="field-submit" type="submit" value="Add SSH key" /></td>
			  </tr>
			</table>
		  </form>
		</fieldset>
		
	  </div>
	</main>
	
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

