{{$csrf_key := "__csrf_token"}}
{{$namespaceName := .Namespace.Name}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>settings of {{.Namespace.Name}} :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  {{template "_namespace-header" .}}
	</header>
	<hr />

	<main>
	  {{template "namespace-setting/_sidebar" .}}

	  <div class="main-side">

		<fieldset>
		  <legend>Change info</legend>
		  
		  {{if .ErrorMsg}}
		  <div class="error-msg">{{.ErrorMsg.Message}}</div>
		  {{end}}
		  <form action="" method="POST">
			<input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
			<table class="field-table">
			  <tbody>
				<tr class="field">
				  <td><label class="field-label" for="tf-title">Title:</label></td>
				  <td><input class="field-tf" name="title" id="tf-title" value="{{.Namespace.Title}}" /></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="tf-owner">Owner:</label></td>
				  <td><input class="field-tf" name="owner" id="tf-owner" value="{{.Namespace.Owner}}" /></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="tf-email">Email:</label></td>
				  <td><input class="field-tf" name="email" id="tf-email" value="{{.Namespace.Email}}" /></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="s-status">Status:</label></td>
				  <td><select class="field-select" name="status" id="s-status" value="{{.Namespace.Status}}">
					  <option value="1" {{if eq .Namespace.Status 1}}selected{{end}}>Public</option>
					  <option value="2" {{if eq .Namespace.Status 2}}selected{{end}}>Private</option>
				  </select></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="ta-description">Description:</label></td>
				  <td><textarea class="field-tf" name="description" id="ta-description">{{.Namespace.Description}}</textarea></td>
				</tr>
				<tr class="field">
				  <td></td>
				  <td><input class="field-submit" type="submit" value="Change Info" /></td>
				</tr>
			  </tbody>
			</table>
		  </form>
		</fieldset>

		<fieldset>
		  <legend>Delete Namespace</legend>
		  <a href="/s/{{.Namespace.Name}}/delete">Click here to delete this namespace</a>
		</fieldset>

	  </div>
	</main>

    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

