{{$csrf_key := "__csrf_token"}}
{{$namespaceName := .Namespace.Name}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Settings of {{.Namespace.Name}} :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  {{template "_namespace-header" .}}
	</header>
	<hr />

	<main>
	  {{template "namespace-setting/_sidebar" .}}

	  <div class="main-side">

		<p><a href="{{getNamespacePath .Namespace.Name}}/member">Back to Member List</a></p>

		<fieldset>
		  <legend>Edit Member</legend>
		  {{if .ErrorMsg}}
		  <div class="error-msg">{{.ErrorMsg.Message}}</div>
		  {{end}}
		  <form action="" method="POST">
			<input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
			<table class="field-table">
			  <tr>
				<td><span class="field-label">Username:</span></td>
				<td>{{.Username}}</td>
			  </tr>
			  <tr>
				<td><span class="field-label">Privilege:</span></td>
				<td>
				  <table>
					<thead><tr><th>Privilege</th><th>Allow?</th></tr></thead>
					<tbody>
					  <tr>
						<td><div class="field"><label for="chkbox-addMember">Add Member</label></td>
						<td><input type="checkbox" name="addMember" id="chk-addMember" {{if and .ACLTuple .ACLTuple.AddMember}}checked{{end}} /></td>
					  </tr>
					  <tr><td><div class="field"><label for="chkbox-deleteMember">Delete Member</label></td>
						<td><input type="checkbox" name="deleteMember" id="chkbox-deleteMember"  {{if and .ACLTuple .ACLTuple.DeleteMember}}checked{{end}}  /></td></tr>
					  <tr><td><div class="field"><label for="chkbox-editMember">Edit Member</label></td>
						<td><input type="checkbox" name="editMember" id="chkbox-editMember" {{if and .ACLTuple .ACLTuple.EditMember}}checked{{end}} /></td></tr>
					  <tr><td><div class="field"><label for="chkbox-editInfo">Edit Info</label></td>
						<td><input type="checkbox" name="editInfo" id="chkbox-editInfo" {{if and .ACLTuple .ACLTuple.EditInfo}}checked{{end}} /></td></tr>
					  <tr><td><div class="field"><label for="chkbox-addRepo">Add Repository</label></td>
						<td><input type="checkbox" name="addRepo" id="chkbox-addRepo" {{if and .ACLTuple .ACLTuple.AddRepository}}checked{{end}} /></td></tr>
					  <tr><td><div class="field"><label for="chkbox-pushToRepo">Push To Repository</label></td>
						<td><input type="checkbox" name="pushToRepo" id="chkbox-pushToRepo" {{if and .ACLTuple .ACLTuple.PushToRepository}}checked{{end}} /></td></tr>
					  <tr><td><div class="field"><label for="chkbox-archiveRepo">Archive Repository</label></td>
						<td><input type="checkbox" name="archiveRepo" id="chkbox-archiveRepo" {{if and .ACLTuple .ACLTuple.ArchiveRepository}}checked{{end}} /></td></tr>
					  <tr><td><div class="field"><label for="chkbox-deleteRepo">Delete Repository</label></td>
						<td><input type="checkbox" name="deleteRepo" id="chkbox-deleteRepo" {{if and .ACLTuple .ACLTuple.DeleteRepository}}checked{{end}} /></td></tr>
					  <tr><td><div class="field"><label for="chkbox-editHooks">Edit Hooks</label></td>
						<td><input type="checkbox" name="editHooks" id="chkbox-editHooks" {{if and .ACLTuple .ACLTuple.EditHooks}}checked{{end}} /></td></tr>
					</tbody>
				  </table>
				</td>
			  </tr>
			  <tr>
				<td></td>
				<td>
				  <input class="field-submit" type="submit" value="Edit Member Privilege" />
				</td>
			  </tr>
			</table>
		  </form>
		</fieldset>
		</div>
	</main>

    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

