{{$csrf_key := "__csrf_token"}}
{{$repoName := getRepoName .Repository.Namespace .Repository.Name}}
{{$repoPath := getRepoPath .Repository.Namespace .Repository.Name}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>New pull request for {{$repoName}} :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
	<link rel="stylesheet" href="/static/style-pull-request.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  {{template "_repo-header" .}}
	</header>
	
    <hr />

	<main>
	  {{template "pull-request/_sidebar" .}}
	  <div class="main-side">
		<fieldset>
		  <legend>Create New Pull Request</legend>
		  {{if eq .Stage "repo"}}
		  {{if and (.ProviderRepository) (gt (len .ProviderRepository) 0)}}
		  <form action="" method="GET">
			<table class="field-table">
			  <tbody>
				<tr class="field">
				  <td><label class="field-label" for="s-recv-br">Receiver Branch:</label></td>
				  <td><select id="s-recv-br" name="recv-br" style="width: unset;">
					  {{range $k, $v := .Repository.Repository.BranchIndex}}
					  <option value="{{$k}}">{{$k}}</option>
					  {{end}}
				  </select></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="s-prov-repo">Provider Repository:</label></td>
				  <td><select id="s-prov-repo" name="repo" style="width: unset;">
					  {{range $k := .ProviderRepository}}
					  {{$fullname := getRepoName $k.Namespace $k.Name}}
					  <option value="{{$fullname}}">{{$fullname}}</option>
					  {{end}}
				  </select></td>
				</tr>
				<tr class="field">
				  <td></td>
				  <td><input class="field-submit" type="submit" value="Choose" /></td>
				</tr>
			  </tbody>
			</table>
		  </form>
		  {{else}}
		  <p>There is no repository available for creating a pull request. <a href="{{$repoPath}}/fork">Create a fork and push your changes to your fork first.</a></p>
		  {{end}}
		  {{end}}

		  {{if eq .Stage "branch"}}
		  {{if and .ProviderBranchList (gt (len .ProviderBranchList) 0)}}
		  <form action="" method="POST">
			<input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
			<input type="hidden" name="receiver-branch" value="{{.ReceiverBranch}}" />
			<input type="hidden" name="provider-namespace" value="{{.ChosenProviderRepository.Namespace}}" />
			<input type="hidden" name="provider-name" value="{{.ChosenProviderRepository.Name}}" />
			<table class="field-table">
			  <tbody>
				<tr class="field">
				  <td><span class="field-label">Receiver Branch:</span></td>
				  <td><a href="{{getRepoPath .Repository.Namespace .Repository.Name}}/branch/{{.ReceiverBranch}}">{{getRepoName .Repository.Namespace .Repository.Name}}@branch:{{.ReceiverBranch}}</a><br />(<a href="{{getRepoPath .Repository.Namespace .Repository.Name}}/pull-request/new">Choose another branch</a>)</td>
				</tr>
				<input type="hidden" name="receiver-branch" value="{{.ReceiverBranch}}" />
				<tr class="field">
				  <td><span class="field-label">Provider Repository:</span></td>
				  <td><a href="{{getRepoPath .ChosenProviderRepository.Namespace .ChosenProviderRepository.Name}}">{{getRepoName .ChosenProviderRepository.Namespace .ChosenProviderRepository.Name}}</a><br />(<a href="{{getRepoPath .Repository.Namespace .Repository.Name}}/pull-request/new">Choose another repository</a>)</td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="s-provider-branch">Provider Branch: </label></td>
				  <td><select id="s-provider-branch" name="provider-branch" style="width:unset;">
					  {{range $k := .ProviderBranchList}}
					  <option value="{{$k}}">{{$k}}</option>
					  {{end}}
				  </select></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="tf-title">Title:</label></td>
				  <td><input class="field-tf" name="title" id="tf-title" /></td>
				</tr>
				<tr class="field">
				  <td></td>
				  <td><input type="submit" value="New Pull Request" /></td>
				</tr>
			  </tbody>
			</table>
		  </form>
		  {{else}}
		  <p>There is no branch in this provider repository for creating a pull request.</p>
		  <p><a href="{{$repoPath}}/pull-request/new">Go back and select other repositories</a></p>
		  {{end}}
		  {{end}}
		</fieldset>
	  </div>
	</main>
	

	<hr />
	<footer>
	  <a href="/">Back to Depot</a>
	  {{template "_footer"}}
	</footer>
  </body>
</html>
