{{$csrf_key := "__csrf_token"}}
{{$repoName := getRepoName .Repository.Namespace .Repository.Name}}
{{$repoPath := getRepoPath .Repository.Namespace .Repository.Name}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Pull requests of {{$repoName}} :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-pull-request.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  {{template "_repo-header" .}}
	</header>
	
    <hr />

	<main>
	  {{template "pull-request/_sidebar" .}}
	  <div class="main-side">
		<form class="pull-request-search-bar" action="" method="GET">
		  <div class="pull-request-page-nav">
			{{if gt .PageInfo.PageNum 1}}<a href="?q={{.Query}}&s={{.PageInfo.PageSize}}&p={{sub .PageInfo.PageNum 1}}">&lt;&lt;</a>{{end}}
			{{.PageInfo.PageNum}} / {{.PageInfo.TotalPage}}
			{{if lt .PageInfo.PageNum .PageInfo.TotalPage}}<a href="?q={{.Query}}&s={{.PageInfo.PageSize}}&p={{add .PageInfo.PageNum 1}}">&gt;&gt;</a>{{end}}
		  </div>
		  <input name="q" id="q" value="{{.Query}}" placeholder="Search title..."/>
		  <select name="f">
			<option value="0" {{if eq .FilterType 0}}selected{{end}}>All</option>
			<option value="1" {{if eq .FilterType 1}}selected{{end}}>Open</option>
			<option value="2" {{if eq .FilterType 2}}selected{{end}}>Closed</option>
			<option value="3" {{if eq .FilterType 3}}selected{{end}}>Merged</option>
			<option value="4" {{if eq .FilterType 4}}selected{{end}}>Discarded</option>
		  </select>
		<input type="submit" value="Search" />
		</form>
		<div class="pull-request-list">
		  {{if or (not .PullRequestList) (le (len .PullRequestList) 0) }}
		  There is no pull request for this repository.
		  {{else}}
		  <table>
			<thead>
			  <th>id</th>
			  <th>status</th>
			  <th>by</th>
			  <th>topic</th>
			</thead>
			<tbody>
			  {{range .PullRequestList}}
			  <tr class="pull-request-list-item {{if eq .Status 1}}{{else}}pull-request-list-item-closed{{end}}">
				<td class="pull-request-id">{{.PRId}}</td>
				<td>{{if eq .Status 1}}<span class="pull-request-status-tag pull-request-status-tag-open">OPEN</span>{{else if eq .Status 2}}<span class="pull-request-status-tag pull-request-status-tag-merged">MERGED</span>{{else if eq .Status 3}}<span class="pull-request-status-tag pull-reqest-status-tag-discarded">DISCARDED</span>{{end}}</td>
				<td><a href="/u/{{.Author}}" class="pull-request-author">{{.Author}}</a></td>
				<td>
				  <a href="{{$repoPath}}/pull-request/{{.PRId}}"><span class="pull-request-title">{{.Title}}</span></a><br />
				  <span class="pull-request-desc-bar"> @ {{toFuzzyTime .Timestamp}}</span> <span class="precise-time">{{toPreciseTime .Timestamp}}</span>
				</td>
			  </tr>
			  {{end}}
			</tbody>
		  </table>
		  {{end}}
		</div>
	  </div>
	</main>
	

	<hr />
	<footer>
	  <a href="/">Back to Depot</a>
	  {{template "_footer"}}
	</footer>
  </body>
</html>


