:root {
	--shade-degree-0: color(from var(--foreground-color) srgb r g b / 0.2);
	--shade-degree-1: color(from var(--foreground-color) srgb r g b / 0.4);
	--shade-degree-half: color(from var(--foreground-color) srgb r g b / 0.5);
	--shade-degree-2: color(from var(--foreground-color) srgb r g b / 0.6);
	--shade-degree-3: color(from var(--foreground-color) srgb r g b / 0.8);
	--file-list-height: 1rem;
}

* {
	box-sizing: border-box;
	scrollbar-color: var(--foreground-color) var(--background-color);
	scrollbar-width: thin;
}

body {
	background-color: var(--background-color);
	color: var(--foreground-color);
	margin: 2rem;
	margin-left: 3rem;
	margin-right: 3rem;
	font-family: 'Nimbus Sans', sans-serif;
}

@media (max-width: 720px) {
	body {
		margin-left: 2rem;
		margin-right: 2rem;
	}
	fieldset {
		padding-left: 0;
		padding-right: 0;
	}
}
@media (min-width: 720px) and (max-width: 800px) {
	body {
		margin-left: 2rem;
		margin-right: 2rem;
	}
}
@media (min-width: 800px) and (max-width: 960px) {
	body {
		margin-left: 2.5rem;
		margin-right: 2.5rem;
	}
}


a {
	color: var(--foreground-color);
	background-color: var(--background-color);
    transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
}
a:hover {
	color: var(--background-color);
	background-color: var(--foreground-color);
}
table {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border-top: 4px var(--foreground-color) solid;
	border-bottom: 4px var(--foreground-color) solid;
	border-collapse: collapse;
	width: 100%;
}
th, td {
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}
tr > th {
	text-align: left;
}
thead {
	border-top: 2px var(--foreground-color) solid;
	border-bottom: 2px var(--foreground-color) solid;
}

code { font-size: 1rem; }
pre { font-size: 1rem; }


header {
	padding-bottom: 1rem;
}

footer {
	padding-top: 1rem;
}

hr {
	height: 4px;
	border: none;
	background-color: var(--foreground-color);
}

/* ======================================================== */
/* header. */
/* header name. (for displaying namespace & repository names) */
.header-name {
	line-height: 100%;
	font-size: 3rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	display: inline-block;
}
/* header node. (for displaying "node info", e.g. which branch */
.header-node {
	font-weight: bold;
	font-size: 2rem;
}
.header-name > a {
	text-decoration: none;
}
.header-clone-address-table {
	border: 0;
	border-top: 1px var(--foreground-color) solid;
	border-bottom: 1px var(--foreground-color) solid;
}
/* ======================================================== */

/* ======================================================== */
/* commit. */
.commit-message {
	white-space: pre;
	margin-top: 0;
	margin-bottom: 0;
}
/* ======================================================== */

/* ======================================================== */
/* commit history. */
.commit-history-item {
	border-bottom: 2px var(--shade-degree-0) solid;
}
.commit-history-item-summary::before {
	content: ">>";
	margin-right: 1rem;
}
.commit-history-item[open] > .commit-history-item-summary::before {
	content: "vv";
}
.commit-history-item-summary {
	display: block;
}
.commit-history-item:last-child {
	border-bottom: none;
}
.commit-history-item-short-id {
	font-weight: bold;
	padding-right: 0.2rem;
	font-size: 1.2rem;
}
.commit-history-item-message {
	margin-top: 1rem;
}
.commit-history-table td {
	vertical-align: top;
}
.commit-history-table td:nth-of-type(1) { /* commit id */
	width: 7rem;
}
.commit-history-table td:nth-of-type(2) { /* date */
	width: 100q;
}
.commit-history-table td:nth-of-type(3) { /* time */
	width: 100q;
}
.commit-history-table td:nth-of-type(4) { /* timezone */
	width: 100q;
}
/* ======================================================== */


/* ======================================================== */
/* header nav, i.e. the top-most bar where normally things like the
   login/logout link lives.  */
.header-nav {
	font-weight: bold;
	font-style: 1rem;
	word-spacing: 1rem;
}
.header-nav {
	background-color: var(--foreground-color);
	color: var(--background-color);
	display: flex;
}
.header-nav a {
	background-color: var(--foreground-color);
	color: var(--background-color);
	text-decoration: none;
	word-spacing: normal;
    transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
}
.header-nav-left {
	flex-grow: 2;
}
.header-nav a:hover {
	color: var(--foreground-color);
	background-color: var(--background-color);
}
.header-nav-submenu{ display: none; }
.header-nav-submenu:target { display: inherit; }
/* ======================================================== */


/* ======================================================== */
/* repo header.  */
.repo-description {
	font-size: 1.5em;
	font-weight: normal;
	font-style: italic;
}
.header-repo-label a {
	background-color: var(--foreground-color);
	color: var(--background-color);
	padding: 0.2rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	text-decoration: none;
	word-spacing: normal;
    transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
}
.header-repo-label a:hover {
	color: var(--foreground-color);
	background-color: var(--background-color);
}
.repo-header-nav {
	margin-top: 0.5rem;
}
.header-repo-label-list {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
/* ======================================================== */

/* ======================================================== */
/* file (source view) */
.file-source-view {
	display: flex;
	flex-direction: row;
}
.file-source-line-number-panel {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	border-right: 2px var(--foreground-color) solid;
}
.file-source-line-number-item {
	font-family: monospace;
	font-size: 1rem;
	padding: 0;
	padding-right: 1rem;
	padding-left: 1rem;
	text-decoration: none;
	white-space: pre;
	display: block;
}
.file-source-line-number-item:target {
	background-color: var(--foreground-color);
	color: var(--background-color);
}
.file-content {
	overflow: auto;
	margin: 0;
	margin-left: 1rem;
}
/* ======================================================== */


/* ======================================================== */
/* file list (used when displaying tree object) */
.file-list {
	display: flex;
	flex-direction: column;
}
.file-list-item {
	display: flex;
	flex-direction: row;
	font-size: var(--file-list-height);
}
.file-list-item-icon {
	width: var(--file-list-height);
	height: var(--file-list-height);
	fill: var(--foreground-color);
}
.file-list-item-last-commit {
	margin-left: 1rem;
	color: var(--shade-degree-2);
	text-decoration: none;
}
/* ======================================================== */


/* ======================================================== */
/* things that goes on the top of source view (e.g. tree path,
   raw/permalink) */
.tree-path-segment {
	flex-grow: 2;
	font-weight: bold;
	margin-bottom: 1rem;
	display: inline-block;
}
.file-nav {
	display: inline-block;
}
/* ======================================================== */


/* ======================================================== */
/* commit/tag info */
.commit-info {
	border-top: 0;
	border-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.commit-info td {
	vertical-align: top;
}

.tag-info {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
/* ======================================================== */


/* ======================================================== */
/* component for displaying clone address. */
.repo-clone-address-tf {
	width: 100%;
	box-sizing: border-box;
}
.repo-clone-address-tf:target {
	display: inherit;
}
.header-clone-address input {
	background-color: var(--background-color);
	color: var(--foreground-color);
	border: 2px var(--foreground-color) solid;
}
/* ======================================================== */


/* ======================================================== */
/* user profile.  */
.user-profile {
	padding: 1rem;
	padding-left: 0;
	display: flex;
}
.user-profile-info {
	min-width: 30%;
}
.user-profile-title {
	font-weight: bold;
	font-size: 300%;
	line-height: 120%;
}
.user-profile-name {
	font-size: 200%;
	line-height: 120%;
}
.user-profile-repository-list {
	padding: 1rem;
}
.user-profile-repository-list p {
	margin: 0;
}
/* ======================================================== */


/* ======================================================== */
/* main 2-column layout. */
main {
	display: flex;
}
.left-side {
	max-width: 240q;
	min-width: 240q;
	width: 240q;
	flex-grow: 1;
	padding-right: 2rem;
}
.sidebar hr {
	height: 2px;
}
.sidebar-item {
	display: block;
}
.main-side {
	padding: 2rem;
	flex-grow: 2;
    border-left: 2px var(--foreground-color) solid;
	overflow: auto;
}
.main-side h2:first-child {
	margin-top: 0;
}
@media (max-width: 820px) {
	main { display: inherit; }
	.left-side {
		width: 100%;
		border-bottom: 2px var(--foreground-color) solid;
		padding-right: 0;
		padding-bottom: 1rem;
		flex-grow: 1;
		max-width: unset;
	}
	.main-side {
		border: 0;
		padding: 0;
		padding-top: 1rem;
		width: 100%;
		max-width: inherit;
	}
}
.main-side-top {
	display: flex;
}
.main-side-top > div {
	display: inline-block;
}
/* ======================================================== */


/* ======================================================== */
/* file tree (used when displaying single file in the left-side) */
.file-tree-item {
	margin-left: 1rem;
}
/* ======================================================== */


/* ======================================================== */
/* repository readme. */
.repo-readme {
	overflow: auto;
	border-top: 2px var(--foreground-color) solid;
	padding-top: 1rem;
	margin-top: 1rem;
}
/* ======================================================== */


/* ======================================================== */
/* form. */
.field {
	margin-top: 0.5rem;
}
.field-label {
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	font-weight: bold;
	width: 100%;
	display: block;
}
.field-label-description {
	font-size: 0.9rem;
	font-style: italic;
	color: var(--shade-degree-2);
}
.field-chkbox-label {
	width: inherit;
	display: inline;
	margin-right: 0.5rem;
}
.field-tf {
	border: 2px var(--foreground-color) solid;
	background-color: var(--background-color);;
	color: var(--foreground-color);
	font-size: 1rem;
	scrollbar-color: var(--background-color) var(--foreground-color);
	box-sizing: border-box;
	width: 100%;
}
.field-submit {
	width: 100%;
}
form input {
	background-color: var(--background-color);;
	color: var(--foreground-color);
	border: 2px var(--foreground-color) solid;
	font-size: 1rem;
}
form input:active {
	border-radius: 0;
}
form textarea {
	border: 2px var(--foreground-color) solid;
	background-color: var(--background-color);;
	color: var(--foreground-color);
	width: 100%;
	height: 10em;
	font-size: 1rem;
	scrollbar-color: var(--background-color) var(--foreground-color);
	box-sizing: border-box;
}
form select {
	background-color: var(--background-color);
    color: var(--foreground-color);
    font-size: 1rem;
    border: 2px var(--foreground-color) solid;
    width: 100%;
}
form input[type="submit"], .form-submit {
	font-family: inherit;
	background-color: var(--foreground-color);
	color: var(--background-color);
	margin-top: 0.5rem;
	transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
	margin-top: 1rem;
}
form input[type="submit"]:hover, .form-submit:hover {
	background-color: var(--background-color);;
	color: var(--foreground-color);
}
form td {
	width: fit-content;
	min-width: 120px;
	max-width: 240px;
	vertical-align: top;
}
/* ======================================================== */


/* ======================================================== */
/* list navigator component. */
.list-nav {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	display: flex;
	align-items: center;
	width: 100%;
}
.list-page-nav {
	flex-grow: 2;
	display: inline-flex;
	align-items: center;
	flex-grow: 1;
}
.list-page-goto, .list-search-form {
	display: inline-flex;
	align-items: center;
	flex-grow: 1;
}
.list-page-goto input[type="submit"],
.list-search-form input[type="submit"] {
	margin-top: 0;
}
.list-page-goto-form {
	display: flex;
	align-items: center;
	margin-right: 0.5em;
}
.list-page-goto-form-tf {
	width: 3rem;
	margin-left: 0.5em;
}
.list-search {
	display: inline-flex;
	align-items: center;
}
.list-search-tf {
	width: 10em;
	margin-left: 0.5em;
}
.list-page-nav-l { margin-left: 2px; margin-right: 2px; }
@media (max-width: 800px) {
	.list-nav {
		display: block;
	}
}
/* ======================================================== */


.precise-time {
	color: var(--shade-degree-half);
}


/* ======================================================== */
fieldset {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 2rem;
	padding-top: 1rem;
}
fieldset legend {
    font-weight: bold;
    font-size: 1.2rem;
	background-color: var(--foreground-color);
	color: var(--background-color);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--background-color);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 2px solid var(--foreground-color);
  display: grid;
  place-content: center;
}

input[type="checkbox"]:checked {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--foreground-color);
  margin: 0;
  font: inherit;
  color: var(--background-color);
  width: 1em;
  height: 1em;
  border: 2px solid var(--foreground-color);
  display: grid;
  place-content: center;
}

input[type="checkbox"]:focus {
    outline: 1px solid var(--foreground-color);
    outline-offset: 2px;
    border-radius: 0;
}

