{{define "_header-nav"}}
<div class="header-nav">
  <div class="header-nav-left"><a href="/">HOME</a>
	{{if .Config}}
	{{if .Config.UseNamespace}}<a href="/all/namespace">NAMESPACE</a>{{end}}
	{{end}}
	<a href="/all/repo">REPO</a>
	{{if .LoginInfo}}
	{{if .LoginInfo.LoggedIn}}<a href="#nav-new">NEW</a>{{end}}
	{{if .LoginInfo.LoggedIn}}<span class="header-nav-submenu" id="nav-new" name="nav-new"><a href="/new/namespace">NAMESPACE</a> <a href="/new/repo">REPOSITORY</a> <a href="/new/snippet">SNIPPET</a> <a href="#">CLOSE</a></span>{{end}}
	{{end}}
  </div>
  {{if .Config}}
    {{if eq .Config.OperationMode "forge"}}
    <div class="header-nav-action">
	  {{if .LoginInfo}}
	  {{if .LoginInfo.LoggedIn}}
	  <span class="header-nav-item"><a href="/u/{{.LoginInfo.UserName}}">{{.LoginInfo.UserName}}</a></span>
	  {{if .LoginInfo.IsAdmin}}<span class="header-nav-item"><a href="/admin">ADMIN</a></span>{{end}}
	  <span class="header-nav-item"><a href="/setting">SETTING</a></span>
	  <span class="header-nav-item"><a id="logout-link" href="/logout">LOGOUT</a></span>
	  {{else}}
	  <span class="header-nav-item"><a id="login-link" href="/login">LOGIN</a></span>
	  {{if .Config.AllowRegistration}}
	  | <span class="header-nav-item"><a href="/reg">SIGN UP</a></span>
	  {{end}}
	  {{end}}
	  {{else}}
	  <span class="header-nav-item"><a href="/login">LOGIN</a></span>
	  {{if .Config.AllowRegistration}}
	  | <span class="header-nav-item"><a href="/reg">SIGN UP</a></span>
	  {{end}}
	  {{end}}
	  {{end}}
    </div>
  {{end}}
</div>

<script type="text/javascript">
	<!--//
  document.addEventListener("DOMContentLoaded", function (e) {
	  var a = document.getElementById("login-link");
	  if (a) {
		  a.href = a.href + "?callback=" + encodeURIComponent(window.location.href);
	  }
	  var b = document.getElementById("logout-link");
	  if (b) {
		  b.href = b.href + "?callback=" + encodeURIComponent(window.location.href);
	  }
  });
  //-->
</script>
{{end}}
