{{define "_repo-header"}}
{{$namespaceName := .Repository.Namespace}}
{{$repoName := .Repository.Name}}
{{$repoPath := getRepoPath .Repository.Namespace .Repository.Name}}
<div class="repo-info">
  <h1 class="header-name" style="margin-bottom: 0">
	<a href="{{getNamespacePath $namespaceName}}">{{$namespaceName}}</a>:<a href="{{getRepoPath $namespaceName $repoName}}">{{$repoName}}</a>
  </h1>
  
  {{if eq .Config.OperationMode "forge"}}
  <span class="repo-visibility">{{if eq .Repository.Status 1}}PUBLIC{{else if eq .Repository.Status 2}}PRIVATE{{else if eq .Repository.Status 4}}PUBLIC ARCHIVED{{else if eq .Repository.Status 5}}INTERNAL{{else if eq .Repository.Status 6}}LIMITED{{end}}</span>
  
  {{if .Repository.Owner}}
  <span>Owner: <a href="/u/{{.Repository.Owner}}">{{.Repository.Owner}}</a></span>
  {{end}}
  
  {{if and (gt (len .Repository.ForkOriginNamespace) 0) (gt (len .Repository.ForkOriginName) 0)}}
  <span class="fork-info">A fork of <a href="{{getRepoPath .Repository.ForkOriginNamespace .Repository.ForkOriginName}}">{{getRepoName .Repository.ForkOriginNamespace .Repository.ForkOriginName}}</a>.</span>
{{end}}

  <span>(<a href="{{$repoPath}}/fork">Fork</a>)</span>
  {{end}}

</div>

{{if eq .Repository.Status 4}}
<div>NOTE: This repository has been archived; it has now become read-only.</div>
{{end}}

<div class="repo-description">{{.Repository.Description}}</div>

  

<div class="header-repo-label-list">
  {{if .Repository.RepoLabelList}}
  {{range .Repository.RepoLabelList}}
  <span class="header-repo-label"><a href="/label/{{.}}">#{{.}}</a></span>
  {{end}}
  {{end}}
</div>


<div class="repo-header-nav">
  <a href="{{$repoPath}}">Home</a>
  {{if and .Config (eq .Config.OperationMode "forge")}}
  {{if and .LoginInfo (or .LoginInfo.IsOwner .LoginInfo.IsSettingMember .LoginInfo.IsAdmin)}}
  <a href="{{$repoPath}}/setting">Setting</a>
  {{end}}
  <a href="{{$repoPath}}/issue">Issue</a>
  <a href="{{$repoPath}}/pull-request">Pull Request</a>
  {{end}}
</div>

<div class="header-clone-address">
  {{$repoUrl := getRepoURL .Config .Repository}}
  {{$repoSsh := getRepoSSH .Config .Repository}}
  <table class="header-clone-address-table">
	<tr><td></td><td><b>Clone address (click to copy)</b></td></tr>	  
	<tr><td><b>HTTP (Read-only):</b></td><td><a onclick="navigator.clipboard.writeText('{{htmlEscape (jsStrEscape $repoUrl)}}')" >{{$repoUrl}}</a></td></tr>
	<tr><td><b>SSH:</b></td><td><a onclick="navigator.clipboard.writeText('{{htmlEscape (jsStrEscape $repoSsh)}}')">{{$repoSsh}}</a></td></tr>
  </table>
</div>

{{if .RepoHeaderInfo}}
{{if gt (len .RepoHeaderInfo.TypeStr) 0}}
<div class="header-node">@{{.RepoHeaderInfo.TypeStr}}:<a href="{{getRootPath $namespaceName $repoName .RepoHeaderInfo.TypeStr .RepoHeaderInfo.NodeName}}">{{if eq .RepoHeaderInfo.TypeStr "commit"}}{{slice .RepoHeaderInfo.NodeName 0 8}}<span style="font-size:80%">{{slice .RepoHeaderInfo.NodeName 8 40}}</span>{{if gt (len .RepoHeaderInfo.NodeName) 40}}<span style="font-size:60%">{{slice .RepoHeaderInfo.NodeName 40}}</span>{{end}}{{else}}{{.RepoHeaderInfo.NodeName}}{{end}}</a></div>
{{end}}
{{end}}


{{end}}
