{{define "_tag-info"}}
{{$repoPath := getRepoPath .Repository.Namespace .Repository.Name}}
<div class="tag-info">
  {{if .Annotated}}
    <b>Tag</b> <a href="{{$repoPath}}/tag/{{.Tag.Id}}">{{.Tag.Id}}</a><br />
    <b>Tagged Object</b>: <a href="{{getRootPath .Repository.Namespace .Repository.Name .Tag.TaggedObjType .Tag.TaggedObjId}}">{{.Tag.TaggedObjType}}:{{.Tag.TaggedObjId}}</a><br />
    <b>Tagger</b>: 
    <span class="tagger-name">{{.Tag.TaggerInfo.AuthorName}}</span>
    (<span class="tagger-email"><a href="{{resolveEmailToLink .EmailUserMapping .Tag.TaggerInfo.AuthorEmail}}">{{.Tag.TaggerInfo.AuthorEmail}}</a></span>)
    @ <span class="tagger-time">{{toFuzzyTime .Tag.TaggerInfo.Time}} ({{.Tag.TaggerInfo.Time}})</span><br />
    <b>Message</b>:<p class="tag-message">{{.Tag.TagMessage}}</p>
    {{if gt (len .Tag.Signature) 0}}
    <details><summary><b>Tag Signature</b></summary><pre>{{.Tag.Signature}}</pre></details>
    {{end}}
	{{else}}
  <p>This is a lightweight tag with no annotation.</p>
  {{end}}
</div>
{{end}}
