{{$namespaceName := .Repository.Namespace}}
{{$repoName := .Repository.Name}}
{{$typeStr := .RepoHeaderInfo.TypeStr}}
{{$nodeName := .RepoHeaderInfo.NodeName}}
{{$repoPath := getRepoPath $namespaceName $repoName}}
{{$emailUserMapping := .EmailUserMapping}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<title>history of {{$typeStr}}:{{$nodeName}} @ {{$repoName}} :: {{.Config.DepotName}}</title>
	<style>
	  .node-history-header {
		  font-size: 1.5rem;
		  font-weight: bold;
	  }
	</style>
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  {{template "_repo-header" .}}
	</header>
	
	<div class="node-description">
	  <div class="node-history-header">
		Commit History
	  </div>
	</div>

	<div class="commit-history-container">
	  {{if eq (len .CommitHistory) 0}}
	  There are no older commits.
	  {{else}}
	  <table class="commit-history-table">
		<thead>
		  <th>commit</th>
		  <th>date</th>
		  <th>time</th>
		  <th>timezone</th>
		  <th>author</th>
		  <th>message</th>
		</thead>
		<tbody>
		  {{range .CommitHistory}}
		  {{$authorUserName := resolveEmailToUsername $emailUserMapping .AuthorInfo.AuthorEmail}}
		  {{$committerUserName := resolveEmailToUsername $emailUserMapping .CommitterInfo.AuthorEmail}}
		  <tr>
			<td><a href="{{$repoPath}}/commit/{{.Id}}">{{slice .Id 0 8}}</a></td>
			<td>{{dateFromTimeObj .AuthorInfo.Time}}</td>
			<td>{{timeFromTimeObj .AuthorInfo.Time}}</td>
			<td>{{timezoneFromTimeObj .AuthorInfo.Time}}</td>
			<td><a href="{{resolveEmailToLink $emailUserMapping .AuthorInfo.AuthorEmail}}">
				{{.AuthorInfo.AuthorName}}</a>
			</td>
<td><a href="{{$repoPath}}/commit/{{.Id}}">{{firstLine .CommitMessage}}</a></td>
		  </tr>
  		  {{end}}
		</tbody>
	  </table>
	  {{end}}
	</div>
	<div><a href="{{$repoPath}}/history/commit:{{.NextPageCommitId}}">Older commit</div>
	<hr />
	<footer>
	  <a href="/repo/{{$repoName}}/{{$typeStr}}/{{$nodeName}}">Back</a>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

