{{$reponame := .Repository.Name}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{$reponame}} :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  {{template "_repo-header" .}}
	  {{if .CommitInfo}}
	  {{template "_commit-info" .CommitInfo}}
	  {{end}}
	  {{if isFork .Repository}}
	  <div class="comparison-info">
		{{template "_comparison-notice" .ComparisonInfo}}
		{{if shouldShowSynchronizeLink .LoginInfo .ComparisonInfo}}
		<a href="?ff">Synchronize now.</a>
		{{end}}
	  </div>
	  {{end}}
	</header>
	
    <hr />

	<main>
	  <div class="left-side">
		<form action="" method="GET">
		  <div class="field">
			<label class="field-label" for="branch">Branch:</label>
			{{if le (len .BranchList) 0}}
			<p>No branches in this repository.</p>
			{{else}}
			<div style="display: flex; flex-direction: column;">
			  <select class="field-select" style="flex-grow: 2" name="branch" id="branch">
				{{range .BranchList}}
				<option value="{{.Name}}">{{.Name}}</option>
				{{end}}
			  </select>
			  <input style="height:100%; margin: 0; margin-top: 0.5rem;" type="submit" value="Go" />
			</div>
			{{end}}
		  </div>
		</form>
		<form action="" method="GET">
		  <div class="field">
			<label class="field-label" for="tag">Tag:</label>
			{{if le (len .TagList) 0}}
			<p>No branches in this repository.</p>
			{{else}}
			<div style="display: flex; flex-direction: column;">
			  <select class="field-select" style="flex-grow: 2" name="tag" id="tag">
				{{range .TagList}}
				<option value="{{.Name}}">{{.Name}}</option>
				{{end}}
			  </select>
			  <input style="height:100%; margin: 0; margin-top: 0.5rem;" type="submit" value="Go" />
			</div>
			{{end}}
		  </div>
		</form>
	  </div>
	  <div class="main-side">
		{{if .TreeFileList}}
		<div class="main-side-top">
		  <div class="file-nav">
			{{if eq .Config.OperationMode "forge"}}
			{{if and .LoginInfo.IsOwner (eq .RepoHeaderInfo.TypeStr "branch")}}
			<a href="{{getRepoPath .Repository.Namespace .Repository.Name}}/{{.RepoHeaderInfo.TypeStr}}/{{.RepoHeaderInfo.NodeName}}?new-file">New/Upload</a>
			{{end}}
			{{end}}
			<a href="{{.MajorBranchPermaLink}}">Permalink</a>
		  </div>
		</div> 
		{{template "_tree-file-list" .TreeFileList}}
		{{end}}

		{{if gt (len .ReadmeString) 0}}
		<div class="repo-readme">{{rawHTML .ReadmeString}}</div>
		{{else}}
		{{if and (eq (len .Repository.Repository.BranchIndex) 0) (eq (len .Repository.Repository.TagIndex) 0)}}
		<p>
		  This repository seems to be completely empty. If you've just created this repository, you can follow the instructions below to upload a local Git repository here:
		</p>
		<pre>git remote add origin {{getRepoSSH .Config .Repository}}
git push -u origin</pre>
		{{else}}
		<p>This repository has no README text.</p>{{end}}
        {{end}}
	  </div>
	</main>
	

	<hr />
	<footer>
	  <a href="/">Back to Depot</a>
	  {{template "_footer"}}
	</footer>
  </body>
</html>


