{{$csrf_key := "__csrf_token"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Reset Password :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
	<link rel="stylesheet" href="/static/style-login.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  <h1 class="header-name">Reset Password</h1>
	</header>
	<hr />

	<div id="login-form">
	  <fieldset>
		<legend>Set New Password</legend>
		<form action="" method="POST">
		  <input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
		  <input type="hidden" name="rid" id="rid" value="{{.ReceiptId}}" />
		  <table class="field-table">
			<tbody>
			  <tr class="field">
				<td><label class="field-label" for="password">New password:</label></td>
				<td><input class="field-tf" type="password" name="password" id="password" /></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="email">Confirm password:</label></td>
				<td><input class="field-tf" type="password" name="confirm" id="confirm" /></td>
			  </tr>
			  <tr class="field">
				<td></td>
				<td><input class="form-submit" type="submit" value="Request Reset" /></td>
			  </tr>
			</tbody>
		  </table>
		</form>
	  </fieldset>
	</div>

    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

