<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<title>{{.RepoHeaderInfo.TypeStr}}:{{.RepoHeaderInfo.NodeName}} @ {{.Repository.Name}} :: {{.Config.DepotName}}</title>
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  {{template "_repo-header" .}}
	  <div class="node-description">
		{{if .CommitInfo}}{{template "_commit-info" .CommitInfo}}{{end}}
		{{if .TagInfo}}{{template "_tag-info" .TagInfo}}{{end}}
	  </div>

	  {{if isFork .Repository}}
	  <div class="comparison-info">
		{{template "_comparison-notice" .ComparisonInfo}}
		{{if shouldShowSynchronizeLink .LoginInfo .ComparisonInfo}}
		<a href="?ff">Synchronize now.</a>
		{{end}}
	  </div>
	  {{end}}
	</header>
	<div class="node-nav tree-nav">
	  <a href="?snapshot">Snapshot</a>
	</div>
	
	<hr />

	<main>
	  <div class="node-description left-side">
		{{if .ParentTreeFileList}}
		{{template "_tree-file-list" .ParentTreeFileList}}
		{{end}}
	  </div>
	  <div class="tree main-side">
		<div class="main-side-top">
		  {{template "_tree-path" .TreePath}}
		  <div class="file-nav">
			{{if eq .Config.OperationMode "forge"}}
			{{if and .LoginInfo.IsOwner (eq .RepoHeaderInfo.TypeStr "branch")}}
			<a href="{{getRepoPath .Repository.Namespace .Repository.Name}}/{{.RepoHeaderInfo.TypeStr}}/{{.RepoHeaderInfo.NodeName}}?new-file">New/Upload</a>
			{{end}}
			{{end}}
			<a href="{{.PermaLink}}">Permalink</a>
		  </div>
		</div> 
		{{template "_tree-file-list" .TreeFileList}}
	  </div>
	</main>
	
	<hr />
	<footer>
	  <a href="{{getRepoPath .Repository.Namespace .Repository.Name}}">Back (Repository)</a>
	  <a href="/">Back (Depot)</a>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

