<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>User {{.User.Name}} :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-user.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	</header>
	<hr />

	<div class="user-profile">
	  <div class="user-profile-info">
		<div class="user-profile-title">{{.User.Title}}</div>
		<div class="user-profile-name">{{.User.Name}}</div>
		<b>Email</b>: <a href="mailto:{{.User.Email}}">{{.User.Email}}</a><br />
		<b>Website</b>: <a href="{{.User.Website}}">{{.User.Website}}</a><br />
		<b>Bio</b>: {{.User.Bio}}<br />
		<div class="user-profile-belonging-namespace">
		  <b>Joined Namespace</b>:
		  {{range $k, $v := .BelongingNamespaceList}}
		  <div class="user-profile-belonging-namespace-list-item">
			<a href="/s/{{$v.Name}}">{{$v.Title}} ({{$v.Name}})</a>
		  </div>
		  {{end}}
		</div>
	  </div>

	  <div style="display: flex; flex-direction: column; flex-grow: 2">
		<h2>Repository</h2>
		<div><a href="/u/{{.User.Name}}/snippet">Snippet</a></div>
		<div class="list-nav">
		  <div class="list-page-nav">
			{{if gt .PageInfo.PageNum 1}}
			<a href="?p={{sub .PageInfo.PageNum 1}}&s={{.PageInfo.PageSize}}{{if .Query}}&q={{.Query}}{{end}}">&lt;&lt;</a>
			{{end}}
			<span class="list-page-nav-page-indicator">{{.PageInfo.PageNum}} / {{.PageInfo.TotalPage}}</span>
			{{if lt .PageInfo.PageNum .PageInfo.TotalPage}}
			<a href="?p={{add .PageInfo.PageNum 1}}&s={{.PageInfo.PageSize}}{{if .Query}}&q={{.Query}}{{end}}">&gt;&gt;</a>
			{{end}}
		  </div>
		  <div class="list-page-goto">
			<form class="list-page-goto-form" action="" method="GET">
			  <input type="hidden" name="s" value="{{.PageInfo.PageSize}}" />
			  <label for="p">Page:</label> <input class="list-page-goto-form-tf" name="p" id="p" />
			  <input type="submit" value="Go" />
			</form>
			
			<div class="list-page-nav-page-sizer">
			  (<a class="list-page-nav-l" href="?s=10">10</a>
			  <a class="list-page-nav-l" href="?s=25">25</a>
			  <a class="list-page-nav-l" href="?s=50">50</a>)
			</div>
		  </div>
		  <div class="list-search">
			<form class="list-search-form" action="" method="GET">
			  <label for="q">Search Repository:</label> <input class="list-search-tf" name="q" id="q" value="{{if .Query}}{{.Query}}{{end}}" />
			  <input type="submit" value="Search" />
			</form>
		  </div>
		</div>
		<table class="list-table">
		  <thead class="list-table-head">
			<tr>
			  <th>Repository</th>
			  <th>Description</th>
			</tr>
		  </thead>
		  <tbody class="list-table-body">
			{{range $value := .RepositoryList}}
			<tr>
			  <td><a href="{{getRepoPath $value.Namespace $value.Name}}">{{getRepoName $value.Namespace $value.Name}}</a></td>
			  <td>{{$value.Description}}</td>
			</tr>
			{{end}}
		  </tbody>
		</table>
	  </div>
	</div>
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

