{{$csrf_key := "__csrf_token"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>New namespace :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  
	  <h1 class="header-name" style="margin-bottom: 0">
		New Namespace
	  </h1>
	</header>
	<hr />

	<main>
	  <div class="left-side">
	  </div>

	  <div class="setting-main main-side">
		<fieldset>
		  <legend>New namespace</legend>
		  {{if .ErrorMsg}}
		  <div class="error-msg">{{.ErrorMsg.Message}}</div>
		  {{end}}
		  <form action="" method="POST">
			<input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
			<table class="field-table">
			  <tbody>
				<tr class="field">
				  <td><label class="field-label" for="tf-name">Name:</label>
					<span class="field-label-description">(Must only contains a-z, A-Z, 0-9, dash and/or underscore.)</span>
				  </td>
				  <td><input class="field-tf" id="tf-name" name="name" /></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="tf-title">Title:</label></td>
				  <td><input class="field-tf" id="tf-title" name="title" /></td>
				</tr>
				<tr>
				  <td></td>
				  <td><input type="submit" value="New Namespace" /></td>
				</tr>
			  </tbody>
			</table>
		  </form>
		</fieldset>

	  </div>
	</main>

	<hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

