{{$csrf_key := "__csrf_token"}}
{{$selected := .Selected}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>New repository{{if .PredefinedNamespace}} in {{.PredefinedNamespace}}{{end}} :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  
	  <h1 class="header-name" style="margin-bottom: 0">
		New Repository{{if .PredefinedNamespace}} in {{.PredefinedNamespace}}{{end}}
	  </h1>
	</header>
	<hr />

	<main>
	  <div class="left-side">
	  </div>

	  <div class="setting-main main-side">
		<fieldset>
		  <legend>New repository</legend>
		  {{if .ErrorMsg}}
		  <div class="error-msg">{{.ErrorMsg.Message}}</div>
		  {{end}}
		  <form action="" method="POST">
			<input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
			<table class="field-table">
			  <tbody>
				{{if .PredefinedNamespace}}
				<tr class="field">
				  <td><label class="field-label">Namespace:</label></td>
				  <td>{{.PredefinedNamespace}}</td>
				</tr>
				{{else}}
				<tr class="field">
				  <td><label class="field-label" for="s-namespace">Namespace:</label></td>
				  <td><select id="s-namespace" name="namespace">
					  {{if .NamespaceList}}
					  {{range $k, $ns := .NamespaceList}}
					  <option value="{{$ns.Name}}" {{if eq $selected $ns.Name}}selected{{end}} >{{$ns.Name}} ({{$ns.Title}})</option>
					  {{end}}
					  {{end}}
				  </select></td>
				</tr>
				{{end}}
				<tr class="field">
				  <td><label class="field-label" for="tf-name">Name:</label><span class="field-label-description">(Must only contains a-z, A-Z, 0-9, dash and/or underscore.)</span></td>
				  <td><input class="field-tf" id="tf-name" name="name" /></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="tf-description">Description:</label></td>
				  <td><input class="field-tf" id="tf-description" name="description" /></td>
				</tr>
				<tr>
				  <td></td>
				  <td><input type="submit" value="New Repository" /></td>
				</tr>
			  </tbody>
			</table>
		  </form>
		</fieldset>
		
	  </div>
	</main>
	
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

