{{$csrf_key := "__csrf_token"}}
{{$selected := .Selected}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>New snippet :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  
	  <h1 class="header-name" style="margin-bottom: 0">
		New Snippet
	  </h1>
	</header>
	<hr />

	<main>
	  <div class="left-side">
	  </div>

	  <div class="setting-main main-side">
		<fieldset>
		  <legend>New snippet</legend>
		  {{if .ErrorMsg}}
		  <div class="error-msg">{{.ErrorMsg.Message}}</div>
		  {{end}}
		  <form action="" method="POST">
			<input type="hidden" name="{{$csrf_key}}" value="{{.LoginInfo.UserCSRFToken}}" />
			<table class="field-table">
			  <tbody>
				<tr class="field">
				  <td><label class="field-label" for="tf-name">Name:</label></td>
				  <td><input class="field-tf" id="tf-name" name="name" /></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="tf-filename">File Name:</label></td>
				  <td><input class="field-tf" id="tf-filename" name="filename" /></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="s-status">Visibility:</label></td>
				  <td><select id="s-status" name="status">
					  <option value="1">Public</option>
					  <option value="2">Internal</option>
					  <option value="3">Shared-Only (Link)</option>
					  <option value="4">Shared-Only (Selected Users)</option>
					  <option value="5">Private</option>
				  </select></td>
				</tr>
				<tr class="field">
				  <td><label class="field-label" for="ta-content">Content:</label></td>
				  <td><textarea id="ta-content" name="content"></textarea>
				  </td>
				</tr>
				<tr class="field">
				  <td></td>
				  <td><input class="field-submit" type="submit" value="New Snippet" /></td>
				</tr>
			  </tbody>
			</table>
		  </form>
		</fieldset>
	  </div>
	</main>
	
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

