{{define "webinstaller/_nav"}}
<ul>
  <li><a href="/step1">Step 1: Operation Mode &amp; Enabling Namespace</a></li>
  <li><a href="/step2">Step 2: Database Config</a></li>
  <li><a href="/step3">Step 3: Session Config</a></li>
  <li><a href="/step4">Step 4: Mailer Config</a></li>
  <li><a href="/step5">Step 5: Receipt System Config</a></li>
  <li><a href="/step6">Step 6: Git Config</a></li>
  <li><a href="/step7">Step 7: Ignored Namespace/Repositories</a></li>
  <li><a href="/step8">Step 8: Web Setup</a></li>
  <li><a href="/step9">Step 9: Confirm Code Manager Setup</a></li>
  <li><a href="/step10">Step 10: Root SSH Key Setup</a></li>
  <li><a href="/confirm">Confirm</a></li>
</ul>
{{end}}
