<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
	{{if not (eq .Timeout 0)}}
	<meta http-equiv="refresh" content="{{.Timeout}}; url={{.RedirectUrl}}" />
	{{end}}
    <title>{{.MessageTitle}}</title>
	{{template "webinstaller/_style"}}
  </head>
  <body>
	<header>
	  <h1 class="header-name" style="margin-bottom: 0"><a href="/">Gitus Web Installer</a></h1>
	</header>
	<hr />

	<main>
	  <div>
		<h2>{{.MessageTitle}}</h2>
		<p>{{.MessageText}}</p>
		{{if eq .Timeout 0}}
		<p>Please click <a href="{{.RedirectUrl}}">here</a> to proceed.</p>
		{{else}}
		<p>This page would be redirected to {{.RedirectUrl}} in {{.Timeout}} seconds. If this didn't happen, please click <a href="{{.RedirectUrl}}">here</a> manually.</p>
		{{end}}
	  </div>
	</main>
	
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

