<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Gitus Web Installer</title>
	{{template "webinstaller/_style"}}
  </head>
  <body>
	<header>
	  <h1><a href="/">Gitus Web Installer</a></h1>
	  
	</header>

	<hr />

	<p>Welcome to the Gitus Web Installer. We'll guide you through the installation process.</p>
	<p>In the end this installer would set up the database and produce a configuration file. At that point, please run Gitus using that configuration file like this:</p>
	<pre>gitus -config {config-file-path}</pre>
	<p><b>NOTE THAT</b> the web installer will skip some steps if they're not compatible or don't make sense with certain decisions you have made during the earlier part in the installation process (e.g. asking for database info when you've decided to have a setup that shouldn't need a database). This is normal and by design.</p>
	<p><a href="/step1">Take me to the next step</a></p>

	{{if .ConfirmStageReached}}
	<p><a href="/confirm">Back to the finish line</a></p>
	{{end}}

	<hr />
	
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

