<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Gitus Web Installer</title>
	{{template "webinstaller/_style"}}
  </head>
  <body>
	<header>
	  <h1><a href="/">Gitus Web Installer</a></h1>
	  {{template "webinstaller/_nav"}}
	</header>

	<hr />
	<!-- step 8: web front setup -->
	<h2>Step 8: Web Setup</h2>
	<form action="" method="POST">
	  <div class="field">
		<label class="field-label" for="depot-name">Depot Name</label>
		<p class="field-description">The name for this Gitus instance.</p>
		<table>
		  <thead><tr><th>Field</th><th>Value</th></tr></thead>
		  <tbody>
			<tr><td><label for="depot-name">depotName</label></td>
			  <td><input name="depot-name" id="depot-name" /></td>
			</tr>
		  </tbody>
		</table>
	  </div>
	  <div class="field">
		<label class="field-label">Bind Address & Port</label>
		<p class="field-description">The address and port this instance is supposed to bind to. Two common choices for bind address: <code>0.0.0.0</code> which allows all external connections, and <code>127.0.0.1</code> which only allows local connections. For security reasons it would be better to set this to 127.0.0.1 and put Gitus behind a reverse proxy.</p>
		<table>
		  <thead><tr><th>Field</th><th>Value</th></tr></thead>
		  <tbody>
			<tr><td><label for="bind-address">bindAddress</label></td>
			  <td><input name="bind-address" id="bind-address" value="{{htmlEscape .Config.BindAddress}}" /></td>
			</tr>
			<tr><td><label for="bind-port">bindPort</label></td>
			  <td><input name="bind-port" id="bind-port" value="{{.Config.BindPort}}" /></td>
			</tr>
		  </tbody>
		</table>
	  </div>
	  <div class="field">
		<label class="field-label">Rate Limit</label>
		<p class="field-description">This limits the maximum request one could make to certain endpoint. Used to prevent brute force attack (and some DDOS attack) to certain extent. Currently used on the login page.</p>
		<table>
		  <thead><tr><th>Field</th><th>Value</th></tr></thead>
		  <tbody>
			<tr><td><label for="max-request-in-second">maxRequestInSecond</label></td>
			  <td><input name="max-request-in-second" id="max-request-in-second" value="{{.Config.MaxRequestInSecond}}" /></td>
			</tr>
		  </tbody>
		</table>
	  </div>
	  <div class="field">
		<label class="field-label" for="http-host-name">HTTP Host Name</label>
		<p class="field-description">HTTP host name. Used as the base for composing different URLs throughout the instance. Normally this would be the URL you expect other users to use to gain access to this instance through HTTP.</p>
		<table>
		  <thead><tr><th>Field</th><th>Value</th></tr></thead>
		  <tbody>
			<tr><td>httpHostName</td>
			  <td><input name="http-host-name" id="http-host-name" value="{{htmlEscape .Config.HttpHostName}}"/></td>
			</tr>
		  </tbody>
		</table>
	  </div>
	  <div class="field">
		<label class="field-label" for="ssh-host-name">SSH Host Name</label>
		<p class="field-description">SSH host name. Used as the base for composing SSH Git remote addresses.</p>
		<table>
		  <thead><tr><th>Field</th><th>Value</th></tr></thead>
		  <tbody>
			<tr><td>sshHostName</td>
			  <td><input name="ssh-host-name" id="ssh-host-name" value="{{htmlEscape .Config.SshHostName}}" /></td>
			</tr>
		  </tbody>
		</table>
	  </div>
	  <div class="field">
		<span class="field-label">Front Page</span>
		<p class="field-description">The default front page for this instance. This would be the first thing people see when visiting this Gitus instance.</p>
		<table>
		  <thead><tr><th>Field</th><th>Value</th></tr></thead>
		  <tbody>
			<tr><td class="field-sub-label">frontPage.type</td>
			  <td>
				<select name="front-page-type" id="front-page-type">
				  <option value="all/namespace" {{if eq .Config.FrontPage.Type "all/namespace"}}selected{{end}}>All Namespaces</option>
				  <option value="all/repository" {{if eq .Config.FrontPage.Type "all/repository"}}selected{{end}}>All Repositories</option>
				  <option value="namespace" {{if eq .Config.FrontPage.Type "namespace"}}selected{{end}}>Specified namespace</option>
				  <option value="repository" {{if eq .Config.FrontPage.Type "repository"}}selected{{end}}>Specified repository</option>
				  <option value="static/html" {{if eq .Config.FrontPage.Type "static/html"}}selected{{end}}>HTML Text</option>
				  <option value="static/text" {{if eq .Config.FrontPage.Type "static/text"}}selected{{end}}>Plain Text</option>
				  <option value="static/markdown" {{if eq .Config.FrontPage.Type "static/markdown"}}selected{{end}}>Markdown Text</option>
				  <option value="static/org" {{if eq .Config.FrontPage.Type "static/org"}}selected{{end}}>Org-mode Text</option>
				</select>
			  </td>
			</tr>
			<tr><td class="field-sub-label">frontPage.namespace<br/>(Valid only when type is "Specified namespace" and "Specified repository".)</td><td><input name="front-page-namespace" /></td></tr>
			<tr><td class="field-sub-label">frontPage.repository<br/>(Valid only for "Specified repository".)</td><td><input name="front-page-repository" /></td></tr>
			<tr><td class="field-sub-label">frontPage.fileContent<br />(Valid only when type is one of "HTML Text", "Plain Text", "Markdown Text" or "Org-mode Text".)</td><td><textarea name="front-page-file-content"></textarea></td></tr>
		  </tbody>
		</table>
	  </div>
	  <div class="field">
		<label class="field-label" for="depot-name">User Management Related</label>
		{{if or (eq .Config.OperationMode "plain") (eq .Config.OperationMode "simple")}}
		<p>This field is skipped since you've chosen to activate Plain Mode or Simple Mode.</p>
		{{else}}
		<p class="field-description">These fields control the behaviour of certain aspects about user management.</p>
		<table>
		  <thead><tr><th>Field</th><th>Value</th></tr></thead>
		  <tbody>
			<tr><td class="field-sub-label"><label for="allow-registration">allowRegistration</label><br />(Whether to allow new user registration)</td><td><input type="checkbox" name="allow-registration" id="allow-registration" {{if and .Config.AllowRegistration}}checked{{end}} /></td></tr>
			<tr><td class="field-sub-label"><label for="email-confirmation-required">emailConfirmationRequired</label></td><td><input type="checkbox" name="email-confirmation-required" id="email-confirmation-required" {{if and .Config.EmailConfirmationRequired}}checked{{end}} /></td></tr>
			<tr><td class="field-sub-label"><label for="manual-approval">manualApproval</label></td><td><input type="checkbox" name="manual-approval" id="manual-approval" {{if and .Config.ManualApproval}}checked{{end}} /></td></tr>
			<tr><td class="field-sub-label"><label for="default-new-user-status">defaultNewUserStatus</label><br />(Status of newly created user)</td><td>
				<select class="field-select" id="default-new-user-status" name="default-new-user-status">
				  <option value="1" {{if eq .Config.DefaultNewUserStatus 1}}selected{{end}}>Normal User</option>
				  <option value="2" {{if eq .Config.DefaultNewUserStatus 2}}selected{{end}}>Approval Needed</option>
				  <option value="3" {{if eq .Config.DefaultNewUserStatus 3}}selected{{end}}>Confirmation Needed</option>
				  <option value="8" {{if eq .Config.DefaultNewUserStatus 8}}selected{{end}}>Normal User (No Namespace Creation)</option>
				  <option value="7" {{if eq .Config.DefaultNewUserStatus 7}}selected{{end}}>Banned</option>
				</select>
			</td></tr>
			<tr><td class="field-sub-label"><label for="default-new-user-namespace">defaultNewUserNamespace<br />(Default namespace the user would be joining </label></td><td>
				<input name="default-new-user-namespace" id="default-new-user-namespace" value="{{.Config.DefaultNewUserNamespace}}"/>
			</td></tr>
		  </tbody>
		</table>
		{{end}}
	  </div>
	  <input type="submit" value="Submit and go to next step" />
	</form>
	<hr />

	{{if .ConfirmStageReached}}
	<p><a href="/confirm">Back to the finish line</a></p>
	{{end}}
	
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

