<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Gitus Web Installer</title>
	{{template "webinstaller/_style"}}
  </head>
  <body>
	<header>
	  <h1><a href="/">Gitus Web Installer</a></h1>
	  {{template "webinstaller/_nav"}}
	</header>

	<hr />
	<!-- step 6: git root & git user -->
	<h2>Step 6: Git-Related Configurations</h2>
	<form action="" method="POST">
	  
	  <div class="field">
		<label class="field-label" for="git-user">Git User</label>
		<p class="field-description">The name of the user Gitus will use to carry out its actions. This user should also be the user that runs the Gitus web server.</p>
		<table>
		  <thead><tr><th>Field</th><th>Value</th></tr></thead>
		  <tbody>
			<tr><td><label for="git-user">gitUser</label></td>
			  <td><input name="git-user" id="git-user" value="{{htmlEscape .Config.GitUser}}" /></td>
			</tr>
		  </tbody>
		</table>
	  </div>

	  <div class="field">
		<label class="field-label" for="git-root">Git Root</label>
		<p class="field-description">The root directory for storing Git repositories. Must be accessible by the Git user configured above.</p>
		<table>
		  <thead><tr><th>Field</th><th>Value</th></tr></thead>
		  <tbody>
			<tr><td><label for="git-root">gitRoot</label></td>
			  <td><input name="git-root" id="git-root" value="{{htmlEscape .Config.GitRoot}}" /></td>
			</tr>
		  </tbody>
		</table>
	  </div>

	  <div class="field">
		<span class="field-label">Git HTTP Clone Protocol</span>
		<p class="field-description">Configure the supported Git-over-HTTP protocols (see docs/http-clone.org).</p>
		<table>
		  <thead><tr><th>Field</th><th>Value</th></tr></thead>
		  <tbody>
			<tr><td><label for="chk-v1-dumb">v1-dumb</label></td>
			  <td><input type="checkbox" name="git-http-clone-enable-v1-dumb" id="chk-v1-dumb" {{if .Config.GitConfig.HTTPCloneProtocol.V1Dumb}}checked{{end}} /></td>
			</tr>
			<tr><td><label for="chk-v2">v2</label></td>
			  <td><input type="checkbox" name="git-http-clone-enable-v2" id="chk-v2" {{if .Config.GitConfig.HTTPCloneProtocol.V2}}checked{{end}} /></td>
			</tr>
		  </tbody>
		</table>
	  </div>

	  <div class="field">
		<label class="field-label" for="no-interactive-shell-message">"No Interactive Shell" Message</label>
		{{if and (not (eq .Config.OperationMode "normal")) (not (eq .Config.OperationMode "simple"))}}
		<p>You have chosen the operation mode "{{.Config.OperationMode}}", which does not support SSH at all, thus no need for this feature.</p>
		{{else}}
		<table>
		  <thead><tr><th>Field</th><th>Value</th></tr></thead>
		  <tbody>
			<tr><td><label for="tf-no-interactive-shell-message">noInteractiveShellMessage</label></td>
			  <td><input name="no-interactive-shell-message" id="tf-no-interactive-shell-message" value="{{htmlEscape .Config.NoInteractiveShellMessage}}" /></td>
			</tr>
		  </tbody>
		</table>
		{{end}}
	  </div>

	  <div class="field">
		<label class="field-label" for="snippet-root">Snippet Root</label>
		{{if not (eq .Config.OperationMode "normal")}}
		<p>You have chosen the operation mode "{{.Config.OperationMode}}", which does not support snippets.</p>
		{{else}}
		<p class="field-description">The root directory for storing snippets. Must be accessible by the Git user configured above.</p>
		<table>
		  <thead><tr><th>Field</th><th>Value</th></tr></thead>
		  <tbody>
			<tr><td><label for="snippet-root">snippetRoot</label></td>
			  <td><input name="snippet-root" id="snippet-root" value="{{htmlEscape .Config.SnippetRoot}}" /></td>
			</tr>
		  </tbody>
		</table>
		{{end}}
	  </div>

	  
	  {{if eq .Config.OperationMode "normal"}}
	  <p>You have choosen to use Normal Mode. Step 7 only makes sense if you use other operation mode, so we'll direct you to Step 8.</p>
	  {{end}}
	  
	  <input type="submit" value="Submit and go to next step" />
	</form>
	<hr />

	{{if .ConfirmStageReached}}
	<p><a href="/confirm">Back to the finish line</a></p>
	{{end}}
	
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

