<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Gitus Web Installer</title>
	{{template "webinstaller/_style"}}
  </head>
  <body>
	<header>
	  <h1><a href="/">Gitus Web Installer</a></h1>
	  {{template "webinstaller/_nav"}}
	</header>

	<hr />
	<h2>Step 1</h2>
	<form action="" method="POST">
	  <div class="field">
		<label class="field-label" for="operation-mode">Operation Mode</label>
		<p class="field-description">Gitus supports 3 different operation mode.:
		  <ul>
			<li>Plain Mode: A simple Git web frontend similar to git-instaweb. Repositories would be readonly (with HTTP).</li>
			<li>Simple Mode: User and repository managements are done by updating special repositories similar to Gitolite. Clone/push through SSH is enabled.</li>
			<li>Normal Mode: All features enabled (other than the ones you choose to not enable). </li>
		  </ul>
		</p>
		<table>
		  <thead>
			<tr><th>Field</th><th>Value</th></tr>
		  </thead>
		  <tbody>
			<tr><td><label for="operation-mode">operationMode</label></td>
			  <td>
				<select name="operation-mode" id="operation-mode">
				  <option value="plain" {{if eq .Config.OperationMode "plain"}}selected{{end}}>Read-only web frontend (Plain Mode)</option>
				  <option value="simple" {{if eq .Config.OperationMode "simple"}}selected{{end}}>Simple managed SSH-enabled instance (Simple Mode)</option>
				  <option value="normal" {{if eq .Config.OperationMode "normal"}}selected{{end}}>Full functionalities enabled (Normal Mode)</option>
				</select>
			  </td>
			</tr>
		  </tbody>
		</table>
	  </div>
	  <div class="field">
		<label class="field-label" for="use-namespace">Use Namespace?</label>
		<p class="field-description">Namespace is a common construct used to group multiple repositories that are within a bigger project but would not make enough sense to combine into a single monolith. If this field sets to true, namespaces would be enabled.</p>
		<table>
		  <thead>
			<tr><th>Field</th><th>Enable?</th></tr>
		  </thead>
		  <tbody>
			<tr><td><label for="enable-namespace">enableNamespace</label></td><td><input type="checkbox" name="enable-namespace" id="enable-namespace" {{if and .Config.UseNamespace}}checked{{end}} /></td></tr>
		  </tbody>
		</table>
	  </div>
	  <input type="submit" value="Submit and go to next step" />
	</form>

	{{if .ConfirmStageReached}}
	<p><a href="/confirm">Back to the finish line</a></p>
	{{end}}

	<hr />
	
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

